<div class="modal fade" id="build-log-popup-dialog"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" id="build-content-container">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<input type="hidden" id="log_dialog_tq_id" value="{{ task_queue.ci_task_queue.id }}" />
				<h4 class="modal-title" id="exampleModalLabel">任务 {{ task_queue.ci_task.TaskName }}_{{ task_queue.build_version }} 构建日志
					<span class="pull-right" style="margin-right:100px;font-size:12px;font-weight:normal;">
						<input  id="bl_sbar_default_setting" type="checkbox" checked value="checkbox" />滚动条在最下方</span>
					</h4>
			</div>
			<div class="modal-body" style="background-color:#fffef9;">
			     <div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-11 col-lg-12">
				<div id="billboard" style="overflow-y: auto;word-break:normal;background-color:black;color:#00ff00; height:700px; margin-top: 1em;padding:10px 40px 10px 10px;">
					<div id="prelog_content">
						<a id="prelog_trigger" href="#">查看之前的日志</a>
						<span id="build_log_loader" style="display: none">正在加载日志 <i class="fa fa-spinner fa-pulse fa-fw fa-lg"></i></span>
					</div>
				</div>
			</div>
		</div>
		<div id="web_socket_scripts">
		    {{ web_socket_scripts }}
		</div>
	
	</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
