				<div class="left_menu_container">
					<ul class="leftmenu">
												
						<li id="mydashboard" class="{{ page.dashboard_active }}">
							<a class="leftmenuitem" href="{{ page.ci_href }}"><i   class="fa fa-tasks fa-fw fa-lg"></i><span>任务<span></a>
						</li>
						<li class={{ page.deploy_active }}>
							<a class="leftmenuitem" href="{{ page.deploy_href }}"><i  class="fa fa-flag fa-fw fa-lg"></i><span>任务流<span></a>
						</li>

{#						<li class={{ page.build_active }}>#}
{#							<a class="leftmenuitem" href="{{ page.build_href }}"><i  class="fa fa-tasks fa-fw fa-lg"></i><span>构建<span></a>#}
{#						</li>#}
{#						#}
{#						<li class={{ page.test_active }}>#}
{#							<a class="leftmenuitem" href="{{ page.testing_href }}"><i  class="fa fa-tasks fa-fw fa-lg"></i><span>测试<span></a>#}
{#						</li>#}
{##}
{#						<li class={{ page.service_active }}>#}
{#							<a class="leftmenuitem" href="{{ page.service_href }}"><i  class="fa fa-bullhorn fa-fw fa-lg"></i><span>服务<span></a>#}
{#						</li> -->#}
{#						#}
						<li class={{ page.settings_active }}>
							<a class="leftmenuitem" href="{{ page.settings_href }}"><i  class="fa fa-rocket fa-fw fa-lg"></i><span>设置<span></a>
						</li>
						
						
						<!-- <li class="leftmenu-plus">
							<a class="leftmenuitem" href="#"><i class="fa fa-plus fa-fw"></i></a>
						</li> -->
						
					</ul>
					
					</div>