<div id="autoagentcontainer">
    <div id="autoagenttoolbar">
    </div>
	<div id="autoagentlistcontainer">

	</div>
	<div id="autoagentpageupdowncontainer">
          <div class="pagination">
			<a href="#" class="first" data-action="first">&laquo;</a>
			<a href="#" class="previous" data-action="previous">&lsaquo;</a>
			<input type="text" readonly="readonly" data-max-page="40" />
			<a href="#" class="next" data-action="next">&rsaquo;</a>
			<a href="#" class="last" data-action="last">&raquo;</a>
		</div>
	</div>
	<div id="dialog-confirmdelete" title="删除确认"></div>
	
</div>
