<div id="codequalitysummary">
	<div class="title">关于CMMI 级别和 BUG率（千行代码缺陷率）</div>
	<div class="subtitle">什么是Bug率？</div>
	<div class="content">Bug率是用来评估代码质量的一种方式，全称是千行代码bug率/缺陷率。是指每修改1000行代码，导致的bug数量。Bug率是一种指标性的数据，与产品质量相关。</div>
	<div class='subtitle'>Bug缺陷率参考值</div>
	<div class="content">
		Bug率在行业中，并没有一个绝对值。以下我们给出关于CMMI级别中和BUG率相关的信息：
			 <ul>
			 	<li>
			 		<span class="spancontent">CMMI级别</span>
			 		<span class="spancontent">Bug率</span>
			 	</li>
			    <li><span class="spancontent">CMM1级</span>
			    	<span class="spancontent">11.95</span>
			    	</li>
			    <li><span class="spancontent">CMM2级</span>
			    	<span class="spancontent">5.25</span>
			    </li>
			    <li>
			    	<span  class="spancontent">CMM3级</span>
			    	<span class="spancontent">2.39</span>
			    </li>
			    <li>
			    	<span class="spancontent">CMM4级</span>
			    	<span class="spancontent">0.92</span>
			    	
			    </li>
			    <li>
			    	<span class="spancontent">CMM5级</span>
			    	<span class="spancontent">0.32</span>
			    	</li>
			 </ul>
	</div>
	<div class="subtitle">Bug率系统注意事项</div>
	<div class="content">Bug率计算公式：Bug率=本版本Bug数/本版本变动过的所有代码行数来计算</div>
	<div class="content">代码行数：包括配置文件，xml文件的变更</div>
	<div class="content">对于SDK类产品，代码行数仅包括主要代码库的中变更的代码行数，暂时不支持多代码库计算</div>
	<div class="content">Bug率计算的准确性，仅针对Bug率系统上线以后的数据。</div>
</div>