<div class="container-fluid">
	<div class="page-panel-default">
		<div class="page-panel-head-default">
			<h3 class="panel-title">任务</h3>
		</div>
		<div class="page-panel-body-default">
			{{ project_dashboard_task }}
		</div>
		<div class="page-panel-footer-default">
			<a href="/project/{{ projectid }}/task/all">查看我的任务</a>
		</div>
	</div>
	
	<div class="page-panel-default">
		<div class="page-panel-head-default">
			<h3 class="panel-title">提测</h3>
		</div>
		<div class="page-panel-body-default">
			{{ project_dashboard_fortesting }}
		</div>
		<div class="page-panel-footer-default">
			<a href="/project/{{ projectid }}/fortesting/all">查看我的提测</a>
		</div>
	</div>
</div>