<div class="container-fluid">
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground">
			<h3 class="panel-title">配置服务：<span class="badge"> {{ service.ci_service.ServiceName }}</span></h3>
		</div>
		<div class="ci-panel-body-nonbackground">
			<form class="form-horizontal" id="ci_service_form">
				<div class="form-group">
					<input type="hidden" id="ci_service_id" value="{{ service.ci_service.id }}" />
					<label for="service_name" class="col-sm-1 control-label">名称 </label>
					<div class="col-sm-4">
						<input type="text" class="form-control input-md"  name="ServiceName" id="ServiceName"  value="{{ service.ci_service.ServiceName }}">
					</div>
				</div>

				<div class="form-group" >
					<label for="Project" class="col-sm-1 control-label">项目</label>
					<div class="col-sm-4">
						<select name="ci_service_project">
							{{ ci_service_project }}
						</select>
					</div>
				</div>

				<div class="form-group" >
					<label for="DeployDir" class="col-sm-1 control-label">部署目录</label>
					<div class="col-sm-4">
						<input type="text" class="form-control input-md"  name="DeployDir" id="DeployDir" placeholder="部署目录" value="{{ service.ci_service.DeployDir|default_if_none:"" }}">
					</div>
				</div>

				<div class="form-group">
					<label for="access_log" class="col-sm-1 control-label">访问日志</label>
					<div class="col-sm-4">
						<input type="text" class="form-control input-md"  name="AccessLog" id="AccessLog" placeholder="访问日志文件路径" value="{{ service.ci_service.AccessLog|default_if_none:"" }}">
					</div>
				</div>

				<div class="form-group">
					<label for="error_log" class="col-sm-1 control-label">错误日志</label>
					<div class="col-sm-4">
						<input type="text" class="form-control input-md"  name="ErrorLog" id="ErrorLog" placeholder="错误日志文件路径" value="{{ service.ci_service.ErrorLog|default_if_none:"" }}">
					</div>
				</div>

				<div class="form-group">
					<label for="start_command" class="col-sm-1 control-label">启动命令</label>
					<div class="col-sm-4">
						<input type="text" class="form-control input-md"  name="StartCommand" id="StartCommand" placeholder="服务启动命令" value="{{ service.ci_service.StartCommand|default_if_none:"" }}">
					</div>
				</div>

				<div class="form-group">
					<label for="stop_command" class="col-sm-1 control-label">停止命令</label>
					<div class="col-sm-4">
						<input type="text" class="form-control input-md"  name="StopCommand" id="StopCommand" placeholder="服务停止命令" value="{{ service.ci_service.StopCommand|default_if_none:"" }}">
					</div>
				</div>

				<div class="form-group">
					<label for="restart_command" class="col-sm-1 control-label">重启命令</label>
					<div class="col-sm-4">
						<input type="text" class="form-control input-md"  name="RestartCommand" id="RestartCommand" placeholder="服务重启命令" value="{{ service.ci_service.RestartCommand|default_if_none:"" }}">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-1">
						<span id="save_service_basic_info" class="cursor-hand green_radius_button">保存</span>
					</div>
				</div>
			</form>

		</div>
	</div>


	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground">
			<h2 class="panel-title">替换文件</h2>
		</div>
		<div class="ci-panel-body-nonbackground">
			<form class="form-horizontal" id="service_file_form" method="POST" action="/ci/service/{{ service.ci_service.id }}/upload_file" enctype="multipart/form-data">
				<div class="form-group">
					<input type="hidden" id="service_id" value="{{ service.ci_service.id }}" />
					<div class="col-sm-10">
						<span class="file_upload"> <span class="file_upload_span"> <i class="fa fa-cloud-upload fa-fw"></i>上传文件
								<p style="margin-left:80px; margin-top:10px;color:red">
									{% if form_error %}

									{{ form_error }}

									{% endif %}

								</p> </span>
							<input type="file" class="file_upload_input" name="service_file" />
						</span>
						<button type="submit" class="btn btn-success" id="upload_service_file" style="opacity:0">
							上传
						</button>
					</div>
				</div>

			</form>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					已上传文件 <span class="badge">{{ service.get_uploaded_files|length }}</span>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<tbody class="container-fluid">
							{% for config in service.get_replace_config.replace_target_map %}
							<tr class="row">
								<td class="col-sm-1" style="display: none" name="ci_service_fileid">{{ config.file_id }}</td>
								<td class="col-sm-2" name="file_name">{{ config.file_name }}</td>
								<td class="col-sm-7">
									<input name="replace_targets" class="input-2-label"  style="width:100%;min-width:200px;" placeholder="输入替换文件路径,多个文件以逗号分隔" value="{{ config.replace_targets|default_if_none:'' }}" />
									<!-- <span name="replace_targets" class="content-editable" style="width:100%;min-width:200px;" contenteditable="true">{{ config.replace_targets|default_if_none:"输入替换文件路径,多个文件以逗号分隔 " }}</span> -->
								</td>
								<td class="col-sm-2"><a href="/ci/service/download_file/{{ config.file_id }}"><i class="fa fa-download fa-fw fa-lg" style="color:green"></i></a><span name="delete_service_file" class="cursor-hand"><i class="fa fa-trash-o fa-fw fa-lg" style="color:red"></i></span></td>
							</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>
			</div>

		</div>

	</div>
</div>