{% for module in modules %}
		   <div  class="project_version_listview_item container-fluid">
		   	<div class="row">
				<div class="col-lg-10 col-md-8 col-sm-8">
					<div class="container-fluid">
						<div class="project_version_listview_item_title">
							<div class="fontfamily">
								<span name="project_module_id">#{{ module.module.id }}</span>
								    <span class="content-editable" name="project_module_name" contenteditable="true"> <span name="Name">{{ module.module.Name }}</span> </span>
							</div>
						</div>
						<div class="project_version_listview_item_content row">
							<span class="col-sm-12" style="color:#777;padding-left:20px;" >
									<i class="fa fa-info fa-fw"></i>
								描述：<span  name="project_module_desc"  class="content-editable" style="min-width:200px;display:inline-block;" contenteditable="true" name="Description">{{ module.module.Description| default_if_none:"" }}
								    
							</span>
							
						</div>
					</div>

				</div>
				
				<div class="col-lg-1 col-md-4 col-sm-4" style="line-height:1.5em">
					<span style="margin-top:30px;display:inline-block" class="postion-absolute"><!-- <i class="fa fa-gears fa-fw fa-lg"></i> -->
						<a><span name="project_module_delete" style="color:red; 	quotes: 		;"><i class="fa fa-trash-o fa-lg fa-fw"></i></span></a>
					</span>
				</div>	
			</div>
		    </div>
		    {% endfor %}