<div class="modal fade" id="project-add-member-dialog">
	<div class="modal-dialog">
		<div class="modal-content modal-dialog-alert-middle" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">邀请成员</h4>
			</div>
			<div class="modal-body">
	            <div class="add_member_dialog_nav_container">
	                  <span class="fortesting_view_edit_active add_member_dialog_nav_item " >
	                      <center style="padding-bottom:5px;">
				           <span id="add-member-dialog-add-button" class="cursor-hand " style="">添加</span>
                           </center>
                     </span>
                     <span class="add_member_dialog_nav_item">
                         <center style="padding-bottom:5px;">
				            <span id="add-member-dialog-import-button" class="cursor-hand">导入</span>
                         </center>
                     </span>
                </div>
                <div>
                     <div id="add-member-view">
                         <div class="add_member_view" >
                          <ul id="source-user-list">
                              {{ source_user_list }}
                          </ul>
                         </div>
                         <div style="margin:50px 0px 10px 5px;display:inline-block;position: relative;top: -120px;">
                             <button id="add_member_button"  type="button" class="btn btn-primary btn-sm" style="display:block; margin-bottom:10px;" >
                             <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                             </button>
                         </div>
                         <div style="margin:5px; display:inline-block;">
                             <ul id="member-user-list">
                                  {{ member_user_list }}
                             </ul>  
                         </div>
                     </div>
                     <div id="import-member-view" class="import_member_view">
                         <div class="form-group">
		           <label for="ProjectID" class="col-sm-1 control-label">项目</label>
		           <div class="col-sm-6">
			            <select name="ProjectID">
                          {{ project_list_controll }}
                        </select>
		           </div>
	                </div>
                     </div>
                </div>
	            
			</div>
			<div class="modal-footer" style="margin-top: -30px;">
			   <button type="button" class="btn btn-default" data-dismiss="modal" id="member_adddialog_close_button">
			取消
			</button>
			
			   <button type="button" class="btn btn-success" id="member_adddialog_confirm_button">
				邀请
			</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
