<div id="project_info_container"  class="container-fluid" style="overflow-y:scroll;">
	<div class="project-setting-panel-nonbackground" >
		<div class="project-setting-panel-head-nonbackground">
			<h2 class="panel-title">项目设置</h2>
		</div>
		<div class="project-setting-panel-body-nonbackground">
			{{ editform }}
		</div>
	</div>
	

    {% if is_creator %}
	<div class="project-panel-nonbackground">
		<div class="project-panel-head-danger">
			<h2 class="panel-title">删除项目</h2>
		</div>
		<div class="project-panel-body-nonbackground">
			<blockquote>
				<p>
					<h5>删除项目将会删除所有与项目相关的内容，版本，提测等都会被删除.
					<br />
					<strong>删除项目是不可恢复操作，请谨慎操作。</strong></h4>
				</p>
			</blockquote>
		</div>
		<div class="project-panel-footer-nonbackground">
			<button type="submit" class="btn btn-danger" id="project_delete_button">
				删除项目
			</button>
		</div>

	</div>
	{% endif %}
</div>
