<div id="project_info_container" class="container-fluid" style="padding:0px;overflow-y:  scroll;">
	<div class="project-panel-nonbackground">
		<div class="project-panel-head-nonbackground" style="border-bottom:none;">
			
		</div>
		<div class="project-panel-body-nonbackground" style="padding-left:20px;">
			<div class="input-group project_version_create_input">
				<span class="input-group-addon"><i class="fa fa-cog "></i></span>
				<input type="text" class="form-control" id="project_add_version" placeholder="添加一个版本(回车完成添加)">
				<span class="input-group-addon" name="project_create_version"><a ><i class="fa fa-arrow-right fa-fw"></i></a></span>
			</div>

			{{ version_list_controll }}
		</div>
	</div>
</div>