	<div class="modal fade" id="task_history_clean_confirm">
			<div class="modal-dialog">
				<div class="modal-content modal-dialog-alert-middle">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">清理空间确认</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-danger" role="alert">
							<i class="fa fa-exclamation-triangle fa-fw"></i>清理空间是危险操作，确认清理后，将清除所有不带标签的历史记录！
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							id="task_history_clean_confirm_button">清理</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->