<form class="form-horizontal" id="ci_task_create_form">
	<div class="form-group">
		<label for="PBTitle" class="col-sm-2 control-label">任务名称</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="ci_task_name" name="TaskName" placeholder="请输入任务名称" value="" >
		</div>
	</div>
	<div class="form-group">
		<label for="Project" class="col-sm-2 control-label">项目</label>
		<div class="col-sm-6">
			<select name="Project" id="ci_task_project">
				{{ ci_task_project }}
			</select>
		</div>
	</div>
    
    <div class="form-group">
		<label for="HistoryCleanStrategy" class="col-sm-2 control-label">构建保留个数</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="history_clean_strategy" name="HistoryCleanStrategy" placeholder="默认保留最近10个以及有标签的记录" value="" >
		</div>
	</div>
    
	<div class="form-group">
		<label for="PBVisiableLevel" class="col-sm-2 control-label">任务类型</label>
		<div class="col-sm-offset-2 col-sm-10">
			<div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_build" value="4" checked aria-describedby="option_build">
					<i class="fa fa-lock fa-fw fa-lg"></i> 构建<span id="option_build" class="help-block">构建任务</span></label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_test" value="1"  aria-describedby="option_test">
					<i class="fa fa-shield fa-fw fa-lg"></i> 测试<span id="option_test" class="help-block">测试任务</span></label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_deploy" value="5" aria-describedby="option_deploy">
					<i class="fa fa-globe fa-fw fa-lg"></i> 部署<span id="option_deploy" class="help-block">服务部署任务</span></label>
{#				<div class="form-group" style="display:none" id="deploy_service_combobox">#}
{#					<label for="DeployService" class="col-sm-2 control-label">服务</label>#}
{#					<div class="col-sm-6">#}
{#						<select name="DeployService">#}
{#							{{ ci_deploy_services }}#}
{#						</select>#}
{#					</div>#}
{#				</div>#}
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_copy" value="0" aria-describedby="option_copy">
					<i class="fa fa-globe fa-fw fa-lg"></i>复制任务<span id="option_copy" class="help-block">复制已有任务</span></label>
				<div class="form-group" style="display:none" id="my_tasks_combobox">
					<label for="my_all_tasks" class="col-sm-2 control-label">任务</label>
					<div class="col-sm-6">
						<select name="my_all_tasks">
							{{ ci_my_all_tasks }}
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>
