<div>
	<div class="ci-panel-taskconfig-nonbackground">
		<input type="hidden"  id="ci_task_id" value="{{ task.ci_task.id }}" />
		<div class="ci-panel-taskconfig-head-nonbackground" style="border: none">
		</div>
		<div class="ci-panel-body-nonbackground" id="ci_task_container" style="padding-top:0px;max-height:100%;">
	
		<span class="pull-left" style="display: inline-block;padding-top:0px;">
		<span class="nic-circle-30-green" style="margin-left:10px;">
		    <span class="nic-content-30-white cursor-hand" >{{ task.task_type_label }}</span>
		</span>
		<span class="panel-title" style="margin-left:-5px;">
		<strong>{{ task.ci_task.TaskName }}</strong>
		</span>
		</span>
			<div class="doraemon_wizard_navbar">
			<span name="basic_section" class="doraemon_wizard_navbar_item doraemon_wizard_navbar_item_active cursor-hand">
				<span >
					<span class="nic-number-30-white">
						1.
					</span>
				</span>
				任务信息
			</span>
			<span name="pre_section" class="doraemon_wizard_navbar_item cursor-hand">
				<span >
					<span class="nic-number-30-none">
						2.
					</span>
				</span>
				构建前</span>
			<span name="scm_section" class="doraemon_wizard_navbar_item cursor-hand">
				<span >
					<span class="nic-number-30-none">
						3.
					</span>
				</span>
			    SCM</span>
			<span name="build_section" class="doraemon_wizard_navbar_item cursor-hand">
				<span >
					<span class="nic-number-30-none">
						4.
					</span>
				</span>
				构建</span>
			<span name="post_section" class="doraemon_wizard_navbar_item cursor-hand">
				<span >
					<span class="nic-number-30-none">
						5.
					</span>
				</span>
				构建后</span>
		</div>
			
			<div class="doraemon_wizard" id="doraemon_wirzrd">
				<div class="doraemon_wizard_column" section_name="basic_section">
					<div class="doraemon_wizard_column_expanded">
						<div class="doraemon_wizard_columnheader_horizontal">
							<!-- <span class="doraemon_wizard_columnheader_horizontal_title">任务信息</span> -->
							<span class="doraemon_wizard_columnheader_horizontal_tools pull-right"> <!-- <span><i class="fa fa-plus fa-fw"></i></span> --> <!-- <span><i class="fa fa-chevron-circle-left fa-fw"></i></span> --> </span>
						</div>
						<div class="doraemon_wizard_column_items" name="ci_plugins" id="ci_basic_info_items">
							<div class="doraemon_wizard_column_item" style="border: none" id="ci_plugin_0">
								<div class="doraemon_wizard_column_item_content" style="margin-left:-5%;" id="ci_task_info_item"></div>
							</div>
							<div  style="position: fixed;bottom:50px; margin-left:40%;">
								<div class="pull-left nic-circle-50-green">
									<span class="nic-content-50-white cursor-hand" name="ci_task_config_save_btn" id="ci_basic_info_save_button">保存</span>
								</div>
								<!-- <div class="pull-left">
									<span class="green_radius_button cursor-hand" name="ci_task_savebuild_button">构建并返回</span>
								</div> -->
							</div>

						</div>
					</div>
					<!-- <div class="doraemon_wizard_column_collapsed hide_wizard_collapsed">
						<span class="doraemon_wizard_column_collapsed_title">任
							<br/>
							务
							<br />
							信
							<br />
							息</span>
						<span style="color:#32be77" class="doraemon_wizard_column_collapsed_tools"><span><i class="fa fa-chevron-circle-left fa-fw"></i></span></span>
					</div> -->
				</div>

				<div class="doraemon_wizard_column hide_wizard_expanded" section_name="pre_section">
					<div class="doraemon_wizard_column_expanded" >
						<div class="doraemon_wizard_columnheader_horizontal">
							<!-- <span class="doraemon_wizard_columnheader_horizontal_title">构建前</span> -->
							<span class="doraemon_wizard_columnheader_horizontal_tools pull-right"> <span name="add_ci_plugin" class="cursor-hand plugin_add_button"><i class="fa fa-plus fa-fw"></i>步骤</span> {{ pre_section_plugin_menu }} <!-- <span><i class="fa fa-chevron-circle-left fa-fw"></i></span> --> </span>
						</div>
						<div class="doraemon_wizard_column_items" name="ci_plugins" id="ci_pre_build_items">
							{{ pre_section_plugins|safe }}
							<div  style="position: fixed;bottom:50px; margin-left:40%;">
								<div class="pull-left nic-circle-50-green">
									<span class="nic-content-50-white cursor-hand" name="ci_task_config_save_btn"  id="ci_pre_build_save_button">保存</span>
								</div>
								
							</div>
						</div>
					</div>
					<!-- <div class="doraemon_wizard_column_collapsed cursor-hand">
						<span class="doraemon_wizard_column_collapsed_title">构
							<br/>
							建
							<br />
							前</span>
						<span style="color:#32be77" class="doraemon_wizard_column_collapsed_tools"><span><i class="fa fa-chevron-circle-left fa-fw"></i></span></span>
					</div> -->
				</div>

				<div class="doraemon_wizard_column hide_wizard_expanded" section_name="scm_section">
					<div class="doraemon_wizard_column_expanded" >
						<div class="doraemon_wizard_columnheader_horizontal">
							<!-- <span class="doraemon_wizard_columnheader_horizontal_title">SCM</span> -->
							<span class="doraemon_wizard_columnheader_horizontal_tools pull-right"> 
								<span name="add_ci_plugin" class="cursor-hand plugin_add_button"><i class="fa fa-plus fa-fw"></i>步骤</span> {{ scm_section_plugin_menu }} <!-- <span><i class="fa fa-chevron-circle-left fa-fw"></i></span> --> </span>
						</div>
						<div class="doraemon_wizard_column_items" name="ci_plugins" id="ci_scm_items">
							{{ scm_section_plugins|safe }}
							<div  style="position: fixed;bottom:50px; margin-left:40%;">
								<div class="pull-left nic-circle-50-green">
									<span class="nic-content-50-white cursor-hand" name="ci_task_config_save_btn" id="ci_scm_save_button">保存</span>
								</div>
								<!-- <div class="pull-left">
									<span class="green_radius_button cursor-hand" name="ci_task_savebuild_button">构建并返回</span>
								</div> -->
							</div>
						</div>
					</div>
					<!-- <div class="doraemon_wizard_column_collapsed cursor-hand">
						<span class="doraemon_wizard_column_collapsed_title">S
							<br/>
							C
							<br />
							M</span>
						<span style="color:#32be77" class="doraemon_wizard_column_collapsed_tools"><span><i class="fa fa-chevron-circle-left fa-fw"></i></span></span>
					</div> -->
				</div>

				<div class="doraemon_wizard_column hide_wizard_expanded" section_name="build_section">
					<div class="doraemon_wizard_column_expanded" id="build">
						<div class="doraemon_wizard_columnheader_horizontal">
							<!-- <span class="doraemon_wizard_columnheader_horizontal_title">构建</span> -->
							<span class="doraemon_wizard_columnheader_horizontal_tools pull-right"> <span name="add_ci_plugin" class="cursor-hand plugin_add_button"><i class="fa fa-plus fa-fw"></i>步骤</span> {{ build_section_plugin_menu }} <!-- <span><i class="fa fa-chevron-circle-left fa-fw"></i></span> --> </span>
						</div>
						<div class="doraemon_wizard_column_items" name="ci_plugins" id="ci_build_items">
								{{ build_section_plugins|safe }}
								<div  style="position: fixed;bottom:50px; margin-left:40%;">
									<div class="pull-left nic-circle-50-green">
										<span class="nic-content-50-white cursor-hand" name="ci_task_config_save_btn" id="ci_build_save_button">保存</span>
									</div>
									<!-- <div class="pull-left">
									<span class="green_radius_button cursor-hand" name="ci_task_savebuild_button">构建并返回</span>
								    </div> -->
								</div>
							</div>
					</div>
					<!-- <div class="doraemon_wizard_column_collapsed cursor-hand">
						<span class="doraemon_wizard_column_collapsed_title">构
							<br/>
							建</span>
						<span style="color:#32be77" class="doraemon_wizard_column_collapsed_tools"><span><i class="fa fa-chevron-circle-left fa-fw"></i></span></span>
					</div> -->
				</div>

				<div class="doraemon_wizard_column hide_wizard_expanded" section_name="post_section">
					<div class="doraemon_wizard_column_expanded">
						<div class="doraemon_wizard_columnheader_horizontal">
							<!-- <span class="doraemon_wizard_columnheader_horizontal_title">构建后</span> -->
							<span class="doraemon_wizard_columnheader_horizontal_tools pull-right"> <span name="add_ci_plugin" class="cursor-hand plugin_add_button"><i class="fa fa-plus fa-fw"></i>步骤</span> {{ post_section_plugin_menu }} <!-- <span><i class="fa fa-chevron-circle-left fa-fw"></i></span> --> </span>
						</div>
						<div class="doraemon_wizard_column_items" name="ci_plugins" id="ci_post_build_items">
							<!-- <div class="doraemon_wizard_column_item">
							<div class="doraemon_wizard_column_item_header"></div>
							<div class="doraemon_wizard_column_item_content"></div>
							</div> -->
							{{ post_section_plugins|safe }}
							<div  style="position: fixed;bottom:50px; margin-left:40%;" id="2">
								<div class="pull-left nic-circle-50-green">
									<span class="nic-content-50-white cursor-hand" name="ci_task_config_save_btn" id="ci_post_build_save_button">保存</span>
								</div>
								<!-- <div class="pull-left">
									<span class="green_radius_button cursor-hand" name="ci_task_savebuild_button">构建并返回</span>
								    </div> -->
							</div>
						</div>
					</div>
					<!-- <div class="doraemon_wizard_column_collapsed cursor-hand">
						<span class="doraemon_wizard_column_collapsed_title">构
							<br/>
							建
							<br />
							后</span>
						<span style="color:#32be77" class="doraemon_wizard_column_collapsed_tools"><span ><i class="fa fa-chevron-circle-left fa-fw"></i></span></span>
					</div> -->
				</div>

			</div>

		</div>
	</div>
</div>