
<div id="home_fortesting_sub_leftnav" class="left_sub_nav">
       <div style="height:50px;">
  	<div style="padding:20px 10px 10px 20px;font-size:15px;">我的问题</div>
  	</div>
<div class="left_sub_menu_container">
	
	<ul class="nav nav-stacked">
<!-- 		<li id="home_fortesting_add">
				<a  class="button-inlist left_sub_menu_item">添加</a>
		</li> -->
		<li class="{{ page.angin2me_active }}" user_role="1">
			<a href="/home/issue/1" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>分配给我的 <!-- <span class="badge pull-right">{{ page.fortestings|length }}</span> --></a>
		</li>
		<li class="{{ page.reportbyme_active }}" user_role="2">
			<a href="/home/issue/2" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>我报告的<!-- <span class="badge pull-right">{{ page.fortestings|length }}</span> --></a>
		</li>
	</ul>

</div>
</div>