<form class="form-horizontal" id="{{ page.form_id }}">
	<div class="form-group">
		<label for="PBTitle" class="col-sm-2 control-label">项目名称</label>
		<div class="col-sm-10">
			<input type="hidden" id="project_id" name="id" value="{{ page.project.id }}" />
			<input type="text" class="form-control" id="project_title" name="PBTitle" placeholder="6-20个字符" value="{{ page.project.PBTitle }}" >
		</div>
	</div>
	<div class="form-group" >
		<label for="PBKey" class="col-sm-2 control-label">项目Key</label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" id="project_key" name="PBKey" placeholder="3-10个字母" {{ page.is_edit }}  value="{{ page.project.PBKey }}" >
		</div>
	</div>
	
	<div class="form-group">
		<label for="PBPlatform" class="col-sm-2 control-label">项目平台</label>
		<div class="col-sm-6">
			<select name="PBPlatform">
            {{ platform_control }}
        </select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="PBLead" class="col-sm-2 control-label">负责人</label>
		<div class="col-sm-5">
			<select name="PBLead" id="project_lead">
                    {{ project_lead_controll }}
            </select>
		</div>
	</div>
	
	<div class="form-group" style="display: none;">
		<label for="Product" class="col-sm-2 control-label">产品线</label>
		<div class="col-sm-5">
			<select name="Product" id="project_product">
                    {{ product_controll }}
            </select>
		</div>
	</div>
	
	{% if not page.is_create %}
	<div class="form-group">
		<label for="PBHttpUrl" class="col-sm-2 control-label">项目网址</label>
		<div class="col-sm-5">
			<input  type="text" class="form-control" id="project_httpurl" name="PBHttpUrl" placeholder="项目正式地址" value="{{ page.project.PBHttpUrl|default_if_none:"" }}" >
		</div>
	</div>
	{% endif %}
	
	{% if not page.is_create %}
	
	<div class="form-group">
		<label for="PBDesciption" class="col-sm-2 control-label">描述</label>
		<div class="col-sm-10">
			<textarea   class="form-control" id="project_description" name="PBDescription" placeholder="一个不错的项目" rows="5">{{ page.project.PBDescription|default_if_none:"" }}</textarea>
		</div>
	</div>
	{% endif %}

	<div class="form-group">
		<label for="PBVisiableLevel" class="col-sm-2 control-label">Visibility</label>
		<div class="col-sm-offset-2 col-sm-10">
			<div class="radio">
				<label>
					<input type="radio" name="PBVisiableLevel" id="optionsRadios1" value="1" {{ page.private }} aria-describedby="option_private">
					<i class="fa fa-lock fa-fw fa-lg"></i> 私有 <span id="option_private" class="help-block">项目仅自己可见。</span></label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" name="PBVisiableLevel" id="optionsRadios2" value="2" {{ page.internal }} aria-describedby="option_internal">
					<i class="fa fa-shield fa-fw fa-lg"></i> 内部 <span id="option_internal" class="help-block">项目可以被同组成员看到。</span></label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" name="PBVisiableLevel" id="optionsRadios2" value="3" {{ page.public }} aria-describedby="option_public">
					<i class="fa fa-globe fa-fw fa-lg"></i> 公开 <span id="option_public" class="help-block">项目可以被所有登陆用户看到。</span></label>
			</div>
		</div>
	</div>
	{% if not page.is_create %}
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="button" class="btn btn-success" id="save_project">
				保存
			</button>
		</div>
	</div>
	
    {% endif %}
</form>
