<div class="">
	<div class="ci-panel-nonbackground">
		<input type="hidden" id="ci_task_id" value="{{ ci_task.id }}" />
		<div class="ci-panel-head-nonbackground">
			<div class="pull-left">
				<span style="margin-left: 30px;"> <strong>{{ ci_task.TaskName }}</strong>
				</span>
			</div>

		</div>
		<div class="ci-panel-body-nonbackground">
			<div class="ci_testing_history">
				<span><i class="fa fa-fw fa-clock-o fa-lg"></i>历史记录</span>
			</div>
			<div class="ci_testing_history">
				<div class="container-fluid">
					<div class="row ci_testing_history_detail_header">
						<span class="col-sm-1" style="width: 20px;"></span> 
						<span class="col-sm-1">#Num</span> 
						<span class="col-sm-3">开始时间</span>
						<span class="col-sm-2">持续</span> 
						<span class="col-sm-1">触发</span>
						<span class="col-sm-4"></span>
					</div>
				</div>
				<div id="ci_testing_history_container">
				{{ testing_history_result_list }}
				</div>

			</div>

		</div>

		<div class="ci-panel-body-nonbackground">
			<div style="margin: 20px 15px 10px 20px;">
				<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>记录分析</span>
			</div>
			<div id="task_history_staticts_container" style="margin: 20px 15px 10px 20px;">
				{{ testing_history_analytics }}
			</div>
			<div class="ci-panel-body-nonbackground" >
				<div style="margin: 30px 15px 10px 0px;">
					<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>记录详情</span>
					<a id="auto_testing_caseresult_export"  href="/ci/testing/{{ ci_history.id }}/caseresult/export" class="pull-right cursor-hand" style="color:#555;margin-right:1%;padding:2px 0px 5px 15px;border-radius:5px;width:80px;height:25px;box-shadow: 0px 0px 1px 0px gray;">
					<i class="fa fa-fw fa-file-excel-o"></i> 导出</a>
				</div>
				<div style="margin: 20px 0px 10px 0px;">
					<div class="container-fluid">
						<div class="row ci_testing_history_detail_header">
							<span class="col-sm-1 " style="width: 20px;"></span> 
							<span
								class="col-sm-3 ">用例名称</span> 
							<span class="col-sm-1 ">持续</span>
							<span class="col-sm-2 ">执行设备</span>
							<span class="col-sm-3 ">错误信息</span> 
							<span class="col-sm-2 ">错误详情</span>
						</div>
					</div>
					<div id="ci_testing_caseresult_container">
					  	{{ testing_case_result_list }}
					</div>
				</div>

			</div>

			<div class="ci-panel-footer-nonbackground">
				<a class="pull-right" id="ci_view_more_history"> <!-- <i class="fa fa-hand-o-right fa-fw"></i>-->
				</a>
			</div>
		</div>
	</div>