{% extends "masterpage_nirvana.html" %}

{% block styles %}
      
     <link rel="stylesheet/less" href="/static/logcat/less/logcat.less" type="text/css" media="screen"/>
     <!-- <link rel="stylesheet/less" href="/static/project/less/project.less" type="text/css" media="screen"/> -->
     {% block logcat_styles %} {% endblock %}

{% endblock %}

{% block left %}

{{ left_nav_bar }}

{% endblock %}

{% block content %}

     {% block logcat_content %}{% endblock %}

{% endblock %}

{% block scripts %}

     <script  type="text/javascript" src="/static/logcat/js/logcat.js"></script>
     {% block logcat_scripts %}{% endblock %}

{% endblock %}

<!--子页面继承内容 -->

