<div class="listview-window-container" style="padding-top:10px;">
	<div>
		<div id="home_project_listview_window" class="listview-window">
			<div class="listview-window-title">
				<span style="margin-left:50px">{{ projects|length }}个相关项目</span>
				<div class="nic-circle-30-green pull-right" style="margin-top:-5px;margin-right:55px;">
		        <span id="home_project_toolbar_add_project" class="nic-content-30-white cursor-hand"><i class="fa fa-plus fa-fw"></i></span>
		        </div>
			</div>
			<div id="home_project_listview_container">
				<div id="home_dashboard_project_listview" class="container-fluid" style="overflow-y:scroll;">
					<div class="row">
						
						{{ project_list }}   
						
						{% if user.is_superuser %}                    
                        
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 home_project_listitem home-project-list-plus" name="home-project-item" id="home_add_project">
							<p class="text-center"><i class="fa fa-plus"></i></p>
						</div>
						{% endif %}

					</div>

				</div>

			</div>
		</div>
	</div>
</div>
