<div name="ci-tag-group" class="filed-pop-meun">
	<ul class="list-group" style="max-height:250px;overflow-y:scroll;">
		<li class="input-group" style="position: relative;padding: 10px 5px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;">
			 <input type="text" class="form-control"placeholder="查找标签" name="ci_task_filter_search_input" role="ci-tag-filter" aria-describedby="ci-task-add-tag">
             <span class="input-group-addon" id="ci-task-add-tag"><i class="fa fa-search"></i></span>
		</li>
		{% for tag in ci_tags %}
		<li class="list-group-item" labelid="{{ tag.tag.id }}" >
			<i class="fa  fa-fw fa-lg"></i>
			<i class="fa fa-square fa-fw fa-2x" style="color:{{ tag.tag.TagColor }}"></i>
			<span style="padding-left:10px;"> {{ tag.tag.TagName }}</span>
		</li>
		{% endfor %}
	</ul>
</div>
