{% extends "env/env_index_view.html" %}

{% block env_styles %}
<!-- <link rel="stylesheet/less" href="/static/env/less/env_dashboard.less" type="text/css" media="screen"/> -->

{% endblock %}

{% block env_content %}
<div class="env-pagecontent-container">
	{{ web_appview }}
</div>
{% endblock %}

{% block env_scripts %}

<script  type="text/javascript" src="/static/env/js/env_dash_board.js"></script>
<script  type="text/javascript" src="/static/env/js/env_fortesting.js"></script>

{% endblock %}