<input type="hidden" value="{{ auto_task_result.TaskHistoryID }}" id="analytics_auto_task_history_id" />
<div class="ci_testing_history_analytics cursor-hand" result_type="0">
	<span class="ci_testing_history_analytics_title">总数:</span> 
	<span class="ci_testing_history_analytics_content status-default">{{ auto_task_result.Total|default_if_none:0 }}</span>
</div>
<div class="ci_testing_history_analytics cursor-hand" result_type="3">
	<span class="ci_testing_history_analytics_title">成功:</span>
	 <span style="" class="ci_testing_history_analytics_content status-success">{{ auto_task_result.Pass|default_if_none:0 }}</span>
</div>
<div class="ci_testing_history_analytics cursor-hand" result_type="2">
	<span class="ci_testing_history_analytics_title">失败:</span> <span
		class="ci_testing_history_analytics_content status-fail">{{ auto_task_result.Fail|default_if_none:0 }}</span>
</div>
<div class="ci_testing_history_analytics cursor-hand" result_type="1" style="margin-right: 0px;">
	<span class="ci_testing_history_analytics_title">放弃:</span> <span
		class="ci_testing_history_analytics_content status-cancel">{{ auto_task_result.Aborted|default_if_none:0 }}</span>
</div>