{% extends "masterpage_nirvana.html" %}

{% block styles %}
      
     <link rel="stylesheet/less" href="/static/ci/less/ci.less" type="text/css" media="screen"/>
     <link rel="stylesheet/less" href="/static/ci_testing/less/ci_testing.less" type="text/css" media="screen"/>
   
     {% block ci_styles %} {% endblock %}

{% endblock %}

{% block left %}

{{ left_nav_bar }}

{% endblock %}

{% block content %}

     {% block ci_content %}{% endblock %}

{% endblock %}

{% block scripts %}

     <script  type="text/javascript" src="/static/ci/js/ci.js"></script>
     <script src="/static/global/js/ws4redis.js" type="text/javascript"></script>
     {% block ci_scripts %}{% endblock %}

{% endblock %}

<!--子页面继承内容 -->

