.testsubmitionfielderror
{
   color: red;
}

/* test testsubmition opertaion container style ----------------------------------------------------*/
#operationcontainer
{
	/*height: 5%;*/
	/*border-bottom: 1px solid #E1E1E1;*/
}

/* testsubmition list content container style-------------------------------------------------------*/
#listcontainer
{
}



/* test testsubmition page updown controll container style*/

#testsubmitionpageupdowncontainer
{
   height: 80px;;
}

#testsubmitionpageupdowncontainer div
{
   margin-left:40%;
}

/* style for testsubmition list ul*/


#testsubmitionlisturl
{
	list-style: none;
}

#testsubmitiontitlerow
{
  margin-left:0px;
  border-bottom: 1px solid #E1E1E1;	
  height:50px;
}

.testsubmitiondatarow
{
	margin-left:0px;
	padding-top:0.1%;
	padding-bottom:-0.1%;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
    height:40px;
}

.testsubmitiondatarow:nth-of-type(odd)
{
	background:#ebf2f9;
}


#testsubmitiontitlerow span
{
	display:inline-block;
     padding: 0.05% 0.1% 0.05% 0.1%;
     margin-left:2px;
     text-align:left;
     color:#48A781;
     font-size:80%;
     font-weight: bold;
     overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
}

.testsubmitiondatarow span
{	display:inline-block;
     padding: 0.05% 0.1% 0.05% 0.1%;
     margin-left:2px;
     text-align:left;
     font-size:70%;
     overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap; 
}


.testsubmitionidheader
{
	width:5%;
	padding: 2px 0px 2px px;
}

.testsubmitionnameheader
{
	width:30%;
}

.testsubmitionplatformheader
{
	width:5%;
}

.testsubmitionptheader
{
	width:8%;
}

.testsubmitionPTTheader
{
	width:12%;
}

.testsubmitionsubmittimeheader
{
	width:10%;
}
.testsubmitionstatusheader
{
	width:8%;
}

.testsubmitionsubmitorheader
{
	width:6%;
	padding: 2px 0px 2px 0px;
}

.testsubmitionoperationheader
{
	width:19%;
}

.testsubmitionidcontent
{
	width:5%;
}

.testsubmitionnamecontent
{
	width:30%;
	word-wrap:break-word;
    word-break:break-all;
}

.testsubmitionplatformcontent
{
	width:5%;
}

.testsubmitionptcontent
{
	width:5%;
}
.testsubmitionpttcontent
{
	width:12%;
}
.testsubmitionsubmittimecontent
{
	width:10%;
}
.testsubmitionstatuscontent
{
	width:8%;
}
.testsubmitionsubmitorcontent
{
	width:6%;
}

.testsubmitionoperationcontent
{
	width:19%;
}

/* testsubmition operation style ---------------------------------------------*/
.objectoperation
{
	list-style: none;
}

.operationitem
{
	width:100px;
	padding-left: 20px;
}

.operationbutton
{
	cursor: pointer;
}

.headerbutton
{
	cursor: pointer;
	width:20px;
}

button[name=rowedit]
{
	display:none;
}
button[name=detail]
{
	display: none;
}

button[name=rowdelete]
{
	display: none;
}

#dialogcontainer
{
	display:none;
}

#dialog-newtestsubmition
{
	display:none;
}


.modelforminputbox
{
	width: 150px;
	height: 25px;
}

.modelformselect
{
	width: 150px;
	height: 25px;
}

.modelformmulipleselect
{
	width: 150px;
	height:100px;
	scrollbar-3dlight-color:gray;
}

.hiddenelement
{  
	display:none; 
}

.button{
width: 50px;
line-height: 20px;
text-align: center;
font-weight: bold;
color: #fff;
text-shadow:1px 1px 1px #333;
border-radius: 5px;
/*margin:0 20px 20px 0;*/
position: relative;
overflow: hidden;
}

.button.gray{
color: #8c96a0;
text-shadow:1px 1px 1px #fff;
border:1px solid #dce1e6;
box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.searchcontrol
{
	margin-left: 45%;
	color:#A8A8A8;
}

.mouseroverdatarow
{
	background-color:#74787c;
		filter:alpha(opacity=60); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.6;
}

.datarowdefaultcolor
{
	background-color:#1d953f;
		filter:alpha(opacity=60); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.6;
}

img[name=testsubmitionrowmore]
{
	padding:2px 0px 0px 10px;
}

ul[name=testsubmitionrowoperationitems]
{
	display:none;
}

.hiddenelement
{  
	display:none; 
}

/*testsubmition 工具条 样式*/

#testsubmitionsearchbox
{
	margin-left:50%;
}
/*创建任务页面*/

.text-input
        {
            height: 21px;
            width: 100%;
        }
        .testsubmition_create_table
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .testsubmition_create_table td, 
        .testsubmition_create_table tr
        {
            margin: 10px;
            padding: 10px;
            border-spacing: 0px;
            border-collapse: collapse;
            font-family: Verdana;
            font-size: 12px;
        }
        h3 
        {
            display: inline-block;
            margin: 0px 0px 0px 30px;
        }

#testsubmition_create
{
	border: none;
}

#testsubmition_create_form
{
	padding-left:60px;
	padding-top:30px;
}
.testsubmition_page_title
{
	background-color:white;
}

.testsubmition_advance
{
	display:none;
}

