.testjobfielderror {
	color: red;
}

/* test testjob opertaion container style ----------------------------------------------------*/
#operationcontainer {
	height: 5%;
	/*border-bottom: 1px solid #E1E1E1;*/
}

/* testjob list content container style-------------------------------------------------------*/
#listcontainer 
{
}

#testjoblist
{
}

/* test testjob page updown controll container style*/

#testjobpageupdowncontainer {
	height: 80px;
}

#testjobpageupdowncontainer div {
	margin-left:40%;
}

/* style for testjob list ul*/
#testjoblisturl {
	list-style: none;
	margin-left:0px;
}

.testjobdatarow:nth-of-type(odd)
{
	background:#ebf2f9;
}

#testjobtitlerow {
	margin-left: 0px;
	border-bottom: 1px solid #E1E1E1;
	height: 50px;
}

.testjobdatarow {
	margin-left: 0px;
	border-bottom: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	height: 40px;
	padding-bottom: 0.1%;
}

#testjobtitlerow span {
	display: inline-block;
	padding: 0.05% 0.1% 0.05% 0.1%;
	margin-left: 2px;
	text-align:left;
	color: #48A781;
	font-size: 80%;
	font-weight: bold;
}

.testjobdatarow span {
	display: inline-block;
	padding: 0.05% 0.1% 0.05% 0.1%;
	margin-left: 2px;
	text-align: left;
	font-size: 70%;
}

.newchildrow {
	margin-left: -40px;
	border-bottom: 1px solid #E1E1E1;
	height: 7%;
}

.newchildrow span {
	display: inline-block;
	padding: 2px 10px 2px 10px;
	margin-left: 2px;
	text-align: center;
	font-size: 80%;
}

.newchildrow span input {
	display: inline-block;
	padding: 2px 10px 2px 10px;
	margin-left: 2px;
	text-align: center;
	font-size: 80%;
	width: 100%;
	margin-top: 15px;
}

.testjobidheader {
	width: 5%;
	padding: 2px 0px 2px 0px;
}

.testjobsubmitidheader {
	width: 15%;
	padding: 2px 0px 2px 0px;
}

.testjobnameheader {
	width: 25%;
}

.testjobsubmittimeheader {
	width: 5%;
}

.testjobstarttimeheader {
	width: 10%;
}

.testjobendtimeheader {
	width: 10%;
}

.testjobstatusheader {
	width: 10%;
}

.testjobprojressheader {
	width: 10%;
	padding: 0px;
	margin-left: 0px;
}

.testjobtesterheader {
	width: 8%;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
}

.testjoboperationheader
{
	width:10%;
}

.testjobidcontent {
	width: 5%;
	padding: 0px 0px 2px 0px;
}

.testjobsubmitidcontent {
	width: 15%;
	padding: 0px 0px 2px 0px;
}

.testjobnamecontent {
	width: 25%;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
}

.testjobsubmittimecontent {
	width: 15%;
}

.testjobstarttimecontent {
	width: 10%;
		overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
}

.testjobendtimecontent {
	width: 10%;
}

.testjobstatuscontent {
	width: 10%;
}

.testjobprojresscontent {
	width: 10%;
	padding: 0px;
	margin-left: 0px;
}

.testjobprojresscontent div {
	height: 60%;
	width: 70%;
	margin-top: 2%;
}

.testjobtestercontent {
	width: 8%;
		overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
}

.testjoboperationcontent {
	/*position: fixed;*/
	width: 10%;
}

/* testjob operation style ---------------------------------------------*/
.objectoperation {
	list-style: none;
}

.operationitem {
	width: 100px;
	padding-left: 20px;
}

.operationbutton {
	cursor: pointer;
}

.headerbutton {
	cursor: pointer;
	width: 20px;
}

button[name=rowedit] {
	display: none;
}
button[name=detail] {
	display: none;
}

button[name=newchildjob] {
	display: none;
	width: 60px;
}

#dialogcontainer {
	display: none;
}

#dialog-newtestjob {
	display: none;
}

.modelforminputbox {
	width: 150px;
	height: 25px;
}

.modelformselect {
	width: 150px;
	height: 25px;
}

.modelformmulipleselect {
	width: 150px;
	height: 100px;
	scrollbar-3dlight-color: gray;
}

.hiddenelement {
	display: none;
}

.button {
	width: 50px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	border-radius: 5px;
	/*margin:0 20px 20px 0;*/
	position: relative;
	overflow: hidden;
}

.button.gray {
	color: #8c96a0;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #dce1e6;
	box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.searchcontrol {
	margin-left: 45%;
	color: #A8A8A8;
}

.mouseroverdatarow {
	background-color: #74787c;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.6;
}

/* JOB filter*/

ol[name=filter] .ui-selecting {
	background: #7d5886;
}
ol[name=filter] .ui-selected {
	background: gray;
	color: white;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.6;
}
ol[name=filter] {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ol[name=filter] li {
	margin: 3px;
	padding: 0.4em;
	font-size: 0.8em;
	height: 15px;
}


/* JOB properties*/

#jobpropertiessection
{
	width:auto;
}

#jobproperties
{
	margin-left:-20px;
	width: 120%;
}


ol[name=jobproperties] .ui-selecting 
{
	background: #7d5886;
}

ol[name=jobproperties] .ui-selected
{
	background: gray;
	color: white;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.6;
}

ol[name=jobproperties]
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}


ol[name=jobproperties] li 
{
	margin: 3px;
	padding: 0.4em;
	font-size: 0.8em;
	height: 15px;
}


img[name=testjobrowmore]
{
	padding:2px 0px 0px 10px;
}

ul[name=testjobrowoperationitems]
{
	display:none;
}

.hiddenelement
{  
	display:none; 
}

/*testjob 工具条 样式*/

#testjobsearchbox
{
	margin-left:50%;
}
/*创建任务页面*/

.text-input
        {
            height: 21px;
            width: 100%;
        }
        .testjob_create_table
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .testjob_create_table td, 
        .testjob_create_table tr
        {
            margin: 10px;
            padding: 10px;
            border-spacing: 0px;
            border-collapse: collapse;
            font-family: Verdana;
            font-size: 12px;
        }
        h3 
        {
            display: inline-block;
            margin: 0px 0px 0px 30px;
        }

#testjob_create
{
	border: none;
}

#testjob_create_form
{
	padding-left:60px;
	padding-top:30px;
}
.testjob_page_title
{
	background-color:#e8e8e8;
}

.testjob_advance
{
	display:none;
}
