<div class="project_issue_status_analytics cursor-hand">
	<span class="project_issue_status_analytics_title issue-status-new">新建:</span> 
	<span class="project_issue_status_analytics_content issue-status-new">{{ issue_status_chart.new_issue_count }}</span>
</div>
<div class="project_issue_status_analytics cursor-hand" result_type="3">
	<span class="project_issue_status_analytics_title issue-status-resolved">已解决:</span>
	 <span style="" class="project_issue_status_analytics_content issue-status-resolved">{{ issue_status_chart.resloved_issue_count }}</span>
</div>
<div class="project_issue_status_analytics cursor-hand" result_type="2">
	<span class="project_issue_status_analytics_title issue-status-reopen">重新打开:</span> <span
		class="project_issue_status_analytics_content issue-status-reopen">{{ issue_status_chart.reopened_issue_count }}</span>
</div>
<div class="project_issue_status_analytics cursor-hand" result_type="1" style="margin-right: 0px;">
	<span class="project_issue_status_analytics_title issue-status-closed">已关闭:</span> <span
		class="project_issue_status_analytics_content issue-status-closed">{{ issue_status_chart.closed_issue_count }}</span>
</div>