<div class="listview-window-container">
	<div>
		<div id="home_autotask_listview_window" class="listview-window">
			<div class="listview-window-title">
				所有项目 (5)
			</div>
			<div >
				<div class="home_autotask_listview_item container-fluid">
					<div class="home_autotask_listview_item_title row">
						<div class="fontfamily">
							<i class="fa fa-android fa-fw"></i>
							老虎SDK
						</div>
					</div>
					<div class="home_autotask_listview_item_content row">
						<span class="col-lg-4 col-md-5 col-sm-6 col-xs-8"> <span class="home_autotask_listview_item_timer"> <i class="fa fa-clock-o"></i> <span class="">16:30</span> </span> <span class="home_autotask_listview_item_version"> <span>4.0.1</span> </span> <span class="home_autotask_listview_item_runtime"> <span>IOS</span> </span> </span>

						<span class="col-lg-5 col-md-5 hidden-sm hidden-xs"> <span> <i class="fa fa-star"></i> <span>complete</span> </span> <span> <i class="fa fa-calendar"></i> <span>2015-08-08 20:30:00</span> </span> </span>
						</span>

						<span class="col-lg-2 col-md-1 col-sm-4 col-xs-2">
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-cog fa-lg"></i></span>
					     <!-- <span class="home_autotask_listview_item_operation"> <i class="fa fa-stop fa-lg"></i></span> 
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-play-circle fa-lg"></i></span> -->
					    </span>
					</div>
				</div>
			</div>
			
			<div >
				<div class="home_autotask_listview_item container-fluid">
					<div class="home_autotask_listview_item_title row">
						<div class="fontfamily">
							<i class="fa fa-android fa-fw"></i>
							老虎SDK
						</div>
					</div>
					<div class="home_autotask_listview_item_content row">
						<span class="col-lg-4 col-md-5 col-sm-6 col-xs-8"> <span class="home_autotask_listview_item_timer"> <i class="fa fa-clock-o"></i> <span class="">16:30</span> </span> <span class="home_autotask_listview_item_version"> <span>4.0.1</span> </span> <span class="home_autotask_listview_item_runtime"> <span>IOS</span> </span> </span>

						<span class="col-lg-5 col-md-5 hidden-sm hidden-xs"> <span> <i class="fa fa-star"></i> <span>complete</span> </span> <span> <i class="fa fa-calendar"></i> <span>2015-08-08 20:30:00</span> </span> </span>
						</span>

						<span class="col-lg-2 col-md-1 col-sm-4 col-xs-2">
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-cog fa-lg"></i></span>
					     <!-- <span class="home_autotask_listview_item_operation"> <i class="fa fa-stop fa-lg"></i></span> 
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-play-circle fa-lg"></i></span> -->
					    </span>
					</div>
				</div>
			</div>
			<div >
				<div class="home_autotask_listview_item container-fluid">
					<div class="home_autotask_listview_item_title row">
						<div class="fontfamily">
							<i class="fa fa-android fa-fw"></i>
							老虎SDK
						</div>
					</div>
					<div class="home_autotask_listview_item_content row">
						<span class="col-lg-4 col-md-5 col-sm-6 col-xs-8"> <span class="home_autotask_listview_item_timer"> <i class="fa fa-clock-o"></i> <span class="">16:30</span> </span> <span class="home_autotask_listview_item_version"> <span>4.0.1</span> </span> <span class="home_autotask_listview_item_runtime"> <span>IOS</span> </span> </span>

						<span class="col-lg-5 col-md-5 hidden-sm hidden-xs"> <span> <i class="fa fa-star"></i> <span>complete</span> </span> <span> <i class="fa fa-calendar"></i> <span>2015-08-08 20:30:00</span> </span> </span>
						</span>

						<span class="col-lg-2 col-md-1 col-sm-4 col-xs-2">
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-cog fa-lg"></i></span>
					     <!-- <span class="home_autotask_listview_item_operation"> <i class="fa fa-stop fa-lg"></i></span> 
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-play-circle fa-lg"></i></span> -->
					    </span>
					</div>
				</div>
			</div>
			<div >
				<div class="home_autotask_listview_item container-fluid">
					<div class="home_autotask_listview_item_title row">
						<div class="fontfamily">
							<i class="fa fa-android fa-fw"></i>
							老虎SDK
						</div>
					</div>
					<div class="home_autotask_listview_item_content row">
						<span class="col-lg-4 col-md-5 col-sm-6 col-xs-8"> <span class="home_autotask_listview_item_timer"> <i class="fa fa-clock-o"></i> <span class="">16:30</span> </span> <span class="home_autotask_listview_item_version"> <span>4.0.1</span> </span> <span class="home_autotask_listview_item_runtime"> <span>IOS</span> </span> </span>

						<span class="col-lg-5 col-md-5 hidden-sm hidden-xs"> <span> <i class="fa fa-star"></i> <span>complete</span> </span> <span> <i class="fa fa-calendar"></i> <span>2015-08-08 20:30:00</span> </span> </span>
						</span>

						<span class="col-lg-2 col-md-1 col-sm-4 col-xs-2">
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-cog fa-lg"></i></span>
					     <!-- <span class="home_autotask_listview_item_operation"> <i class="fa fa-stop fa-lg"></i></span> 
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-play-circle fa-lg"></i></span> -->
					    </span>
					</div>
				</div>
			</div>
			<div >
				<div class="home_autotask_listview_item container-fluid">
					<div class="home_autotask_listview_item_title row">
						<div class="fontfamily">
							<i class="fa fa-android fa-fw"></i>
							老虎SDK
						</div>
					</div>
					<div class="home_autotask_listview_item_content row">
						<span class="col-lg-4 col-md-5 col-sm-6 col-xs-8"> <span class="home_autotask_listview_item_timer"> <i class="fa fa-clock-o"></i> <span class="">16:30</span> </span> <span class="home_autotask_listview_item_version"> <span>4.0.1</span> </span> <span class="home_autotask_listview_item_runtime"> <span>IOS</span> </span> </span>

						<span class="col-lg-5 col-md-5 hidden-sm hidden-xs"> <span> <i class="fa fa-star"></i> <span>complete</span> </span> <span> <i class="fa fa-calendar"></i> <span>2015-08-08 20:30:00</span> </span> </span>
						</span>

						<span class="col-lg-2 col-md-1 col-sm-4 col-xs-2">
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-cog fa-lg"></i></span>
					     <!-- <span class="home_autotask_listview_item_operation"> <i class="fa fa-stop fa-lg"></i></span> 
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-play-circle fa-lg"></i></span> -->
					    </span>
					</div>
				</div>
			</div>
			<div >
				<div class="home_autotask_listview_item container-fluid">
					<div class="home_autotask_listview_item_title row">
						<div class="fontfamily">
							<i class="fa fa-android fa-fw"></i>
							老虎SDK
						</div>
					</div>
					<div class="home_autotask_listview_item_content row">
						<span class="col-lg-4 col-md-5 col-sm-6 col-xs-8"> <span class="home_autotask_listview_item_timer"> <i class="fa fa-clock-o"></i> <span class="">16:30</span> </span> <span class="home_autotask_listview_item_version"> <span>4.0.1</span> </span> <span class="home_autotask_listview_item_runtime"> <span>IOS</span> </span> </span>

						<span class="col-lg-5 col-md-5 hidden-sm hidden-xs"> <span> <i class="fa fa-star"></i> <span>complete</span> </span> <span> <i class="fa fa-calendar"></i> <span>2015-08-08 20:30:00</span> </span> </span>
						</span>

						<span class="col-lg-2 col-md-1 col-sm-4 col-xs-2">
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-cog fa-lg"></i></span>
					     <!-- <span class="home_autotask_listview_item_operation"> <i class="fa fa-stop fa-lg"></i></span> 
					     <span class="home_autotask_listview_item_operation"> <i class="fa fa-play-circle fa-lg"></i></span> -->
					    </span>
					</div>
				</div>
			</div>
			
			</div>

	</div>
</div>
