<div style="padding: 50px 100px 50px 100px">
	<!-- <span id="build_log_loader">正在加载日志 <i class="fa fa-spinner fa-pulse fa-fw fa-lg"></i></span> -->
	<!-- <input type="hidden" id="build_log_file_id" value={{ file_id }}/> -->
	<div id="build_log_container">
		
	</div>	
</div>
<link rel="stylesheet" href="/static/global/css/font-awesome-4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/static/global/js/jquery-2.1.4.min.js"></script>
<!-- <script  type="text/javascript" src="/static/ci/js/ci_task.js"></script> -->