 {% for item in item_list %}
     {% if folder %}
     <div class="project_archive_folder" version_id={{ item.id }}>
		          <div class="project_archive_folder_header">
		             <span class="pull-right" style="color:#f0f0f0;padding:5px;" ><i class="fa fa-bars fa-fw"></i></span>
		          </div>
		          <div class="project_archive_folder_body">
		             <center> 
		             <i class="fa fa-folder-o fa-5x"></i>
		             </center>
		          </div>
		          <div class="project_archive_folder_footer">
		              <center>
		                  <div class="project_archive_folder_version" id="folder_name">{{ item.VVersion }}</div>
		              </center>
		          </div>
     </div>
     {% else %}
      
          <div class="project_archive_folder" labelid="{{ item.file_id }}" qrcode_uri="{{ item.qrcode_uri }}">
		          <div class="project_archive_folder_header">
		             <span class="pull-right" style="color:#f0f0f0;padding:5px;" ><i class="fa fa-bars fa-fw"></i></span>
		          </div>
		          <div class="project_archive_folder_body">
		             <center> 
		             <i class="fa fa-file-o fa-5x" name="file_icon"></i>
		              <div style="margin-top:-20px;margin-left:15px;">
	    	   	      <img name="qrcode_img" src="" style="height:120px;width:120px;display:none;" class="img-rounded"/>
	    	        </div>
		             </center>
		          </div>
		          <div class="project_archive_folder_footer">
		              <center>
		                  <div class="project_archive_version_file">
		                      <a  href="/project/archive/download/{{ item.file.id }}"  style="color: inherit" title="{{ item.file.FileName }}">{{ item.file.FileName }}</a>
		                  </div>
		                  <div style="font-size:12px;">
		                      {{ item.file_size }}
		                  </div>
		              </center>
		              
		          </div>
          </div>
         
      
     {% endif %}
{% endfor %}
            