<div>
	<div class="web-app-view-default">
		<div class="web-app-view-head-default">
		  <div class="web-app-view-header-bar-default">
		      <span class="web-app-view-header-leftbar pull-left">
		        <span class="webapp_header_leftbar_nav">
		             <span>
		                <a href="/project/{{ project_id }}/archive/all" style="color:gray;"> All</a>
		             </span>
		             <span>
		                <i class="fa fa-fw fa-angle-right" ></i>
		             </span>
		             <span style="font-weight: 500;color:#555;" id="version_nav_bar">
		                
		             </span>
		             
		        </span>
		      
		      </span>
		      
		      <span class="web-app-view-header-rightbar-default pull-right" style="margin-top:10px;width:150px;">
		       
		        <!--  <span id="header-rightbar-filter" class="cursor-hand web-app-view-header-rightbar-item-default">
		           <i class="fa fa-fw fa-filter fa-lg"></i>
		         </span> -->
		      </span>
		  </div>
		</div>
		
		<div class="web-app-view-body-default" style="top:120px;">
		<div  id="project_archive_container" class="web-app-view-content-default" style="overflow-y: scroll;">
		{{ project_archive_folder_list }}
		{{ project_archive_file_list }}
         
         </div>
         
         </div>
         
         
		</div>
</div>
<div id="webapp_right_panel" class="web-app-view-right-panel-default">
</div>