{% extends "project/project_index_view.html" %}

{% block project_styles %}
<link rel="stylesheet/less" href="/static/project/less/project_task.less" type="text/css" media="screen"/>
<!-- <link rel="stylesheet/less" href="/static/home/less/home_autotask.less" type="text/css" media="screen"/> -->

{% endblock %}

{% block project_content %}
    
	{{ sub_leftnav }}
<div id="project_task_view" class="project_task_view">
	{{ task_list }}
	{{ task_edit_part }}
</div>
{% endblock %}

{% block project_scripts %}

<script  type="text/javascript" src="/static/project/js/project_task.js"></script>

{% endblock %}