<div name="project-group" class="filed-pop-meun">
	<ul class="list-group" style="max-height:210px;overflow-y:scroll;width:300px;">
		<li class="list-group-item">
			<input class="form-control" placeholder="按照项目名称查找" name="header_project_search_input" role="project" > 
		</li>
		{% for project in projects %}
		<li class="list-group-item" labelid="{{ project.id }}" >
			<i class="fa  fa-fw fa-lg"></i><img src="{{ project.PBAvatar }}" class="img-circle" style="width:30px;height:30px" /><span style="padding-left:10px;"> {{ project.PBTitle }}</span>
		</li>
		{% endfor %}
	</ul>
</div>
