<div>
	<div class="web-app-view-default">
		<div class="web-app-view-head-default">
		  <div class="web-app-view-header-bar-default">
		      <span class="web-app-view-header-leftbar pull-left">
		        <span class="webapp_header_leftbar_nav">
		             
		        </span>
		      
		      </span>
		      
		      <span class="web-app-view-header-rightbar-default pull-right">
		     
		          <div class="nic-circle-30-green" style="margin-right:5px;" title="创建问题" data-toggle="tooltip" data-placement="right">
		        <span id="tool_bar_new_issue" class="nic-content-30-white cursor-hand"><i class="fa fa-plus fa-fw"></i></span>
		        </div>
	        <input type="hidden" id="reload_issue_list_trigger"  />
		      </span>
		  </div>
		</div>
		
		<div class="web-app-view-body-default" style="top:165px;">
		<div  id="project_issue_container" class="web-app-view-content-default" style="">
		  <div class="row" style="margin:10px 0px 0px 0px;">
		     <div class="col-sm-12" style="padding-left:0px;">
		     	{{ sub_leftnav }}
		          <div id="issue_item_container" style="margin-left:150px;">
		              {{ issue_list  }}
		          </div>
		     </div>
		  </div>
         
         </div>
         
         </div>
         
         
		</div>
</div>
<div id="webapp_right_panel" class="web-app-view-right-panel-default" style="width:60%;top:120px;"></div>