<div id="autotasklist">
	<ul id="autotasklisturl">
		<li id="autotasktitlerow">
			<!-- <input id="autotaskselectall" type="checkbox" disabled=""/> -->
			<span class="autotaskidheader">ID</span>
			<span class="autotasknameheader">名称</span>
			<span class="autotaskruntimeheader">运行环境</span>
			<span class="autotasksheduletimeheader">执行计划</span>
			<span class="autotaskstatusheader">状态</span>
			<span class="autotasklasttimeheader">上次执行时间</span>
			<span class="autotaskoperationheader">操作</span>
		</li>
		{% for autotask in autotasklist %}
		  <li class="autotaskdatarow">
		  	<!-- <input name="selectautotask" type="checkbox" /> -->
		    <span class="autotaskidcontent">
		    	{{ autotask.autotask.id }}
		    </span>
		    <span class="autotasknamecontent">{{ autotask.get_taskname }}</span>
		    <span class="autotaskruntimecontent">{{ autotask.get_runtime }}</span>
		    <span class="autotasksheduletimecontent">{{ autotask.get_sheduletime }}</span>
		    <span class="autotaskstatuscontent">{{ autotask.get_status }}</span>
		    <span class="autotasklasttimecontent">{{ autotask.get_lastruntime}}</span>
		    <span class="autotaskoperationcontent">  
				{% if autotask.is_running %}
				<button name="autotaskrowstop" class="button gray operationbutton">停止</button> 
				{% else %}
				<button name="autotaskrowrun" class="button gray operationbutton">开始</button> 
				{% endif %}
				
				<img name="autotaskrowmore" class="operationimg" src="/static/autotesting/images/icon-menu-minimized.png"/ title="设置">
			</span>
		  </li>
       {% endfor %}
	</ul>
	 <div id='autotaskrowoperation'>
                   <ul name="autotaskrowoperationitems">
                    <li name="autotaskrowoperationedit"><a  href="#">编辑</a></li>
                    <li name="autotaskrowoperationdelete"><a href="#">删除</a></li>
                    <!-- <li name="autotaskrowoperationdetail"><a href="#">详细信息</a></li> -->
                    <li name="autotaskrowoperationreport"><a href="#">运行报告</a></li>
                    <li name="autotaskrowoperationcopy"><a href="#">复制</a></li>
                   </ul>
    </div>
        <div id="messageNotification">
        <div id="autotask_messagecontent">
            
        </div>
    </div>
	
</div>