/*设置自动化任务工具条---------------------------------------------------------------------------------*/
#home_project_sub_leftnav
{
    width:200px;
    float:left;
    height: 100%;
    padding:0px 0px 0px 20px;
    position: fixed;
    border-right: 1px solid rgba(203, 203, 203, 1);
}


#home_project_view
{
	padding-left:220px;
	width:100%;
    float:left;	
}


#home_project_toolbar
{
  padding:10px 0px 0px 40px;
  height:35px;
  width:100%;
}



#home_project_list_view
{
  padding:0px 50px 20px 20px;
  width:100%;
}

#home_project_listview_dcocking
{
	padding: 20px 20px 20px 20px;
}


/*.home_project_docking
{
  padding:0px 50px 20px 20px;
  background-color: white;
  width:90%;
  height:80%;
}*/


#home_project_listview_window
{
  /*background-color: white;*/
  width: 100%;
  /*border-left: 1px solid rgba(203, 203, 203, 1);
   border-right: 1px solid rgba(203, 203, 203, 1);
   border-bottom: 1px solid rgba(203, 203, 203, 1);*/
  height:100%;
}

#home_project_add
{
	float: right;
	background-color: #019775;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    padding-right:5px;
    font-weight:bold !important;
}

#home_project_listview_projectul
{
	width:100%;
	list-style:none;	
	margin-left: -40px;
	height:auto;
}

.home_project_listitem
{
	padding:30px 30px 30px 30px;
	width:180px;
	float: left;
}

.home_project_listitem a
{
	padding:20px 20px 20px 20px;
}

.home_project_listitem div
{
}

.home_project_hover
{
	background-color:  #d3d7d4;
}


/*#dashboard_project_docking_toolbar
{
	margin-top:20;
	margin-left:20;
	width:700px;
}*/

.dashboard_docking_windowtitle
{
	background-color: #d3d7d4;
	color: white;
	font-weight: bold;
	padding-top:10px;
	height:30px;
}

.button {
	width: 50px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	border-radius: 5px;
	/*margin:0 20px 20px 0;*/
	position: relative;
	overflow: hidden;
}

.button.gray 
{
	color: #8c96a0;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #dce1e6;
	box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);
}

.operationbutton {
	cursor: pointer;
}


