<div class="container-fluid">
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground">
			<h3 class="panel-title" style="margin-left:30px;">
			<input type="hidden" value={{ ci_task.id }} id="ci_task_id"/>
			<strong>{{ ci_task.TaskName }}</strong></h3>
		</div>
		<div class="ci-panel-body-nonbackground" id="ci_task_build_confirm">
			<form class="form-horizontal" id="ci_task_build_confim_form">
				<div class="form-group">
		<label for="PBVisiableLevel" class="col-sm-2 control-label">历史记录丢弃策略</label>
		<div class="col-sm-offset-2 col-sm-10">
			<div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_build" value="4" checked aria-describedby="option_build">
					<i class="fa fa-lock fa-fw fa-lg"></i> 保留记录的天数<span id="option_build" class="help-block">构建打包任务</span></label>
			</div>

			<!-- <div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_test" value="2"  aria-describedby="option_test">
					<i class="fa fa-shield fa-fw fa-lg"></i> 测试<span id="option_test" class="help-block">自动化测试任务</span></label>
			</div> -->

			<div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_deploy" value="5" aria-describedby="option_deploy">
					<i class="fa fa-globe fa-fw fa-lg"></i> 保留记录的个数<span id="option_deploy" class="help-block">服务部署任务</span></label>
				<div class="form-group" style="display:none" id="deploy_service_combobox">
					<label for="DeployService" class="col-sm-2 control-label">服务</label>
					<div class="col-sm-6">
						<select name="DeployService">
							{{ ci_deploy_services }}
						</select>
					</div>
				</div>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="TaskType" id="ci_create_task_copy" value="0" aria-describedby="option_copy">
					<i class="fa fa-globe fa-fw fa-lg"></i>保留带标签的记录<span id="option_copy" class="help-block">复制已有任务</span></label>
				<div class="form-group" style="display:none" id="my_tasks_combobox">
					<label for="my_all_tasks" class="col-sm-2 control-label">任务</label>
					<div class="col-sm-6">
						<select name="my_all_tasks">
							{{ ci_my_all_tasks }}
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<span name="history_clean_confirm" class="cursor-hand danger_radius_button">确认清理</span>

		</div>
	</div>
			</form>
		</div>
	</div>
</div>