{% for history in task_histories %}
<div>
	<div class="row" style="margin-left:20px;margin-top:20px;">
        <span name="task_changelog_expand"  class="cursor-hand"><i class="fa fa-plus-circle  fa-fw"></i></span>
		<span style="font-size:13px">
			<i style="color:#32be77" class="fa fa-flag fa-lg fa-fw"></i>
			<strong>#{{ history.ci_task_history.BuildVersion }}-{{ history.build_parameter }}({{ history.ci_task_history.StartTime }})</strong></span>
     
	</div>
	<div class="row" style="display:none" name="build_changelogs">
		{% for changelog in history.change_logs %}
		<div  class="ci_task_changelog_listview_item container-fluid cursor-hand">
			<div class="row">
				<div class="col-sm-1 task_change_log_index" >
					{% if changelog.index > 0 %}
					<mark>{{ changelog.index }}</mark>
					
					{% endif %}
				</div>
				<div class="col-lg-10 col-sm-9" name="build_changelog_content">
					<div class="ci_task_changelog_listview_item_content row" style="color:#555">
						<span style="display: none"> <span name="task_history_id">{{ history.ci_task_history.id }}</span> </span>
						<span class="col-sm-12"> <span style="color:black"> </span>
							<p class="lead" style="margin-top:10px; font-size:14px;">
								{{ changelog.get_message|linebreaksbr }}
							</p>
					</div>

					<div class="ci_task_changelog_listview_item_title row">
						<span style="font-size:12px; float:left; margin-right:50px;"><i class="fa fa-lightbulb-o fa-fw"></i><em name="changlog_version">{{ changelog.version }}</em> </span>
						<span style="font-size:12px; float:left; margin-right:50px;"><i class="fa fa-clock-o fa-fw"></i>{{ changelog.commit_time}}</span>
						<span style="font-size:12px;float:left; margin-right:50px;color: #555 "><i class="fa fa-user-o fa-fw "></i>{{ changelog.commitor }}</span>
					</div>
				</div>

			</div>
		</div>
		{% endfor %}

	</div>
</div>

{% endfor %}
