<div>
	<div class="ci-panel-nonbackground">
		<input type="hidden"  id="ci_task_id" value="{{ ci_task.ci_task.id }}" />
		<div class="ci-panel-head-nonbackground">
		    <span class="nic-circle-30-green" style="margin-left:10px;">
		    <span class="nic-content-30-white cursor-hand" >{{ ci_task.task_type_label }}</span>
		</span>
			<span class="panel-title" style="margin-left:0px;">
			<strong>{{ ci_task.ci_task.TaskName }}</strong></span>
		</div>
		<div class="ci-panel-body-nonbackground" id="ci_task_container">
			<div  class="container-fluid">
				<div class="row">
					<div class="col-sm-12" id="task_changelog_list">
						<div id="task_changelog_container" style="height:700px;overflow-y:scroll;overflow-x:hidden;">
							{{ task_changelog_list }}
						</div>

						<div class="ci-panel-footer-nonbackground">
							<a class="pull-right" id="ci_view_more_changelog"><i class="fa fa-hand-o-right fa-fw"></i> 查看更多变更记录 </a>
						</div>
					</div>
					<div class="col-sm-4" style="display:none;height:700px;overflow-y:scroll;overflow-x:hidden;margin-left:-25px;" id="task_changelog_detail">
                       
					</div>
				</div>
			</div>
		</div>
	</div>
</div>