	<div id="home_page_devices" class="home_device_info_page">
			<nav class="navbar navbar-default navbar-static-top" style="background:none !important" role="navigation">
				<div class="navbar-header">
					<!-- <a class="navbar-brand" href="#">全部设备</a> -->
				</div>
				<div>
					<ul class="nav navbar-nav" id="home_page_device_menu">
						<li class="device_info_menu_item device_info_menu_item_active" method="all">
							<a  href="#">全部设备</a>
						</li>
						<li class="device_info_menu_item" method="android">
							<a href="#">Android</a>
						</li>
						<li class="device_info_menu_item" method="ios">
							<a href="#">IOS</a>
						</li>
						<li class="device_info_menu_item" method="WP">
							<a href="#">WP</a>
						</li>
						<li class="device_info_menu_item" method="other">
							<a href="#">其他</a>
						</li>
					</ul>
				</div>
			</nav>
			
			
			<div style="max-height:800px;overflow-y:scroll;" id="home_device_list_view">
				
				
			</div>
		</div>
