{% for device in devices %}
<div class="thumbnail" style="width:180px;height:259px; float:left;margin-left:10px;margin-right:10px;">
	<img src="{{ device.device_avatar }}" class="img-circle" style="height:100px;width:100px;">
	<div class="caption">
	    
	    <div class="device_title">
			{{ device.device.DeviceNumber }}
		</div>
		<div class="device_title">
			{{ device.device.DeviceName }}
		</div>
		
		<div class="device_system_version">
			<i class="fa {{ device.device_os }} fa-lg fa-fw" style="color:#32be77"></i>
			{{ device.device_os_version }}
		</div>
		<div class="device_user">
			{{ device.borrower_name }}
		</div>
		<p>
			{% if device.is_ready %}
			 {% login_required %}
			<input type="hidden" name="device_id" value="{{ device.device.id }}" />
			<a href="#" class="button-inlist" style="width:80px; height:25px; margin-left:30px; display:block" name="borrow_device">借用</a>
			 {% end_login%}

			{% logout_required %}
			<a href="/home/device/all" class="button-inlist" style="width:80px; height:30px; margin-left:30px; display:block">借用</a>
			{% end_logout %}
			{% endif %}
		</p>
	</div>
</div>

{% endfor %}
