{% for agent in ci_agents %}
<div  class="ci_task_listview_item container-fluid">
	<div class="row">
		<div class="col-sm-10">
			<div class="ci_task_listview_item_title row">
				<span class="col-sm-12"> <i class="fa fa-fw {{agent.agent_os }} status-success" name="ci-agent-check"></i> 
				<span style="text-decoration: underline;" name="ci-agent_title" agent_id="{{ agent.ci_agent.id }}"  class="cursor-hand">{{ agent.ci_agent.Name }}</span> </span>
			</div>
			<div class="ci_task_listview_item_content row">
				<span class="col-sm-12">
                 <span name="ci_agent_id">#{{ agent.ci_agent.id }}</span> 
                 <span ><i class="fa fa-fw fa-info-circle"></i> {{ agent.ci_agent.IP }}</span>
                 <span class="postion-absolute"   name="agent_tags"> 
                 <span name="add_tag" style="cursor:pointer"> 
                 	<i class="fa fa-tags fa-fw"></i> 标签 <i class="fa fa-plus-circle fa-fw"></i> 
                 </span> 
                 {% for tag in agent.agent_tags %} 
              
				   <span class='label label-default ' labelid="{{ tag.id }}" style='background-color:{{ tag.TagColor }} ; opacity:0.5;font-size:8px !important;'>{{ tag.TagName }} </span> 
				 
				 {% endfor %} 
				 <span name="loader"><i class="fa fa-spinner fa-spin"></i></span> 
				 {{ agent.tag_menu }} 
				 </span> 
				</span>

			</div>

		</div>
	</div>
</div>
{% endfor %}
