<div class="container-fluid">
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground">
			<h2 class="panel-title">所有服务器</h2>
		</div>
		<div class="ci-panel-body-nonbackground">
		     {{ ci_server_form }}
		</div>
	</div>
    
    {% if is_create %}
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-body-nonbackground">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					服务器 <span class="badge">{{ ci_servers|length }}</span>
				</div>
				<div class="panel-body">
				  <table class="table table-hover">
				  	<tbody class="container-fluid">
				  		{% for ci_server in ci_servers %}
				  		<tr class="row">
				  			<td class="col-sm-1" style="display: none" name="ci_serverid">{{ ci_server.ci_server.id }}</td>
				  			<td class="col-sm-4">
				  				<a href="/ci/settings/servers/{{ ci_server.ci_server.id }}/edit_page">{{ ci_server.ci_server.ServerName }}</a>
				  			</td>
				  			<td class="col-sm-2">
				  				<span >{{ ci_server.ci_server.Host }}</span>
				  			</td>
				  			
				  			<td class="col-sm-3">
				  				<span >{{ ci_server.scope_name }}</span>
				  			</td>
				  			
				  			<td class="col-sm-2">
				  				<span class="cursor-hand" name="delete_server">
				  					<i class="fa fa-trash-o fa-fw fa-lg" style="color:red"></i>
				  				</span>
				  			</td>
				  		</tr>
				  		{% endfor %}
				  	</tbody>
				  	
				  </table>
				</div>
			</div>
		
		</div>

	</div>
	{% endif %}
</div>