{% extends "ci/ci_index_view.html" %}

{% block ci_styles %}

{% endblock %}

{% block ci_content %}
	{{ sub_nav_bar }}
<div id="ci_settings_view" class="ci_settings_view">
	{{ ci_settings_global_config }}
	{{ ci_settings_agent }}
	{{ ci_settings_server }}
	{{ ci_settings_credential }}
	{{ ci_settings_tag }}
</div>
{% endblock %}

{% block ci_scripts %}

<script  type="text/javascript" src="/static/ci/js/ci_agent.js"></script>
<script  type="text/javascript" src="/static/ci/js/ci_settings.js"></script>



{% endblock %}