<div class="modal fade" id="new_ci_agent_popup_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content modal-dialog-form-middle">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">添加Agent</h4>
				<input id="ci_agent_id_create" type="hidden" value="{{ agent_id  }}">
			</div>
			<div class="modal-body">
				{{ agent_create_form }}
			</div>
			<div class="modal-footer" style="border-top:none!important;">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="ci_agent_close_button">
					取消
				</button>
				<button type="button" class="btn btn-success" id="ci_agent_create_button">
					创建
				</button>
			</div>
		</div>
	</div>
</div>
