<header>
        我的任务
        <article>
            在此可以查看我的所有的任务，以及某项目中我的任务。
        </article>
</header>
<div class="left_sub_menu_container">
	<ul class="nav nav-stacked">
		<li class="left_sub_meun_active">
			<a href="#" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>所有任务<span class="badge pull-right">42</span></a>
		</li>
		<li class="">
			<a href="#" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>自动化任务<span class="badge pull-right">4</span></a>
		</li>
	</ul>

</div>