<form class="form-horizontal" id="ci_credential_create_form">
	<div class="form-group">
		<label for="CredentialType" class="col-sm-1 control-label">凭证类型</label>
		<div class="col-sm-6">
			<select name="CredentialType" id="CredentialType">
				{{ ci_credential_type }}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="UserName" class="col-sm-1 control-label">用户名</label>
		<div class="col-sm-6">
			<input  type="hidden" class="form-control" id="CredentialID" name="CredentialID"  value="{{ ci_credential.ci_credential.id|default_if_none:"0" }}">
			<input  type="text" class="form-control" id="UserName" name="UserName" placeholder="用户名" value="{{ ci_credential.ci_credential.UserName |default_if_none:"" }}">
		</div>
	</div>
	<div class="form-group">
		<label for="Password" class="col-sm-1 control-label">密码</label>
		<div class="col-sm-6">
			<input  type="password" class="form-control" id="Password" name="Password" placeholder="用户密码" value="{{ ci_credential.ci_credential.Password|default_if_none:""}}">
		</div>
	</div>

	<div class="form-group" id="ssh_key">
		<label for="SSHKey" class="col-sm-1 control-label">SSHKey</label>
		<div class="col-sm-6">
			<textarea  rows="5" class="form-control" id="SSHKey" name="SSHKey" placeholder="SSH Key 文件内容" >{{ ci_credential.ci_credential.SSHKey|default_if_none:""}}</textarea>			
		</div>
	</div>
	
	<div class="form-group">
		<label for="Description" class="col-sm-1 control-label">描述</label>
		<div class="col-sm-6">
			<textarea  rows="2" class="form-control" id="Description" name="Description" placeholder="证书描述信息" >{{ ci_credential.ci_credential.Description|default_if_none:""}}</textarea>			
		</div>
	</div>

	<div class="form-group">
		<label for="optionsRadios" class="col-sm-1 control-label">可见范围</label>
		<div class="col-sm-10">
			<div class="radio">
				<label>
					<input type="radio" name="Scope" id="optionsRadios1" value="1" {{ ci_credential.every_one }} aria-describedby="option_private">
					<i class="fa fa-unlock fa-fw fa-lg"></i>所有人<span id="option_private" class="help-block">所有人都可以使用，编辑证书</span></label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" name="Scope" id="optionsRadios2" value="2"  {{ ci_credential.only_me }} aria-describedby="option_internal">
					<i class="fa fa-lock fa-fw fa-lg"></i>仅自己<span id="option_internal" class="help-block">只有自己可以使用，编辑证书</span></label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			{% if ci_credential.is_create %}
			<button type="button" class="btn btn-success" id="ci_add_credential">
				添加凭证
			</button>
			{% else %}
			<span class="btn btn-success" id="ci_save_credential"> 保存凭证 </span>
			{% endif %}
		</div>
	</div>
</form>
