<span class="dorpdown_option_menu" role="issue_attachment_upload" style="width:120px; margin-left:-85px; top:25px;">
<div>
	<b class="top" style="left:100px;"> <i class="top-arrow1"></i> <i class="top-arrow2"></i>
	</b>
</div>
<ul class="dorpdown_option_list">
	<li class="option-item">
	   <span style="display:inline-block;width:30px;padding-left:10px;"><i   class="fa fa-qrcode fa-fw "></i></span>
	   <span style="display:inline-block;width:100px;"> 手机上传</span>
   </li>
   <li class="option-item">
	   <span style="display:inline-block;width:30px;padding-left:10px;"><i   class="fa fa-cloud-upload fa-fw "></i></span>
	   <span style="display:inline-block;width:100px;"> 本地上传</span>
   </li>
</ul>
 </span>