{% extends "masterpage_nirvana.html" %}

{% block styles %}
      
     <link rel="stylesheet/less" href="/static/project/less/project.less" type="text/css" media="screen"/>
     {% block project_styles %} {% endblock %}

{% endblock %}

{% block left %}

{{ left_nav_bar }}

{% endblock %}

{% block content %}

     {% block project_content %}
    
     {% endblock %}

{% endblock %}

{% block scripts %}

     <script  type="text/javascript" src="/static/project/js/project.js"></script>
     {% block project_scripts %}{% endblock %}

{% endblock %}

<!--子页面继承内容 -->

