
<div id="settings_sub_leftnav" class="left_sub_nav">
    <div>
  <p><h2></h2></p>
  
</div>
<div class="left_sub_menu_container">
	
	<ul class="nav nav-stacked">
		<li class="{{ page.basic_active }}">
			<a href="/project/{{ page.projectid }}/settings/basic" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>基本设置</a>
		</li>
		<li class="{{ page.member_active }}">
			<a href="/project/{{ page.projectid }}/settings/member" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>成员</a>
		</li>
		<li class={{ page.version_active }}>
			<a class="left_sub_menu_item" href="/project/{{ page.projectid }}/settings/version"><i class="fa fa-road fa-fw pull-left"></i><p>版本</p></a>
		</li>
		<li class={{ page.module_active }}>
			<a class="left_sub_menu_item" href="/project/{{ page.projectid }}/settings/module"><i class="fa fa-road fa-fw pull-left"></i><p>模块</p></a>
		</li>
		<li class="{{ page.webhook_active }}">
			<a href="/project/{{ page.projectid }}/settings/webhook" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>WebHook</span></a>
		</li>
	</ul>

</div>
</div>