/*设置自动化任务工具条---------------------------------------------------------------------------------*/
#autoagenttoolbar
{
	width : 100%;
    height : 35px;
    margin-left: 0px;
}


.taskfielderror
{
   color: red;
}



/* auto task list content container style-------------------------------------------------------*/
#autoagentlistcontainer
{
}


/* test task page updown controll container style*/

#autoagentpageupdowncontainer
{
   height: 100px;
}

#autoagentpageupdowncontainer div
{
   margin-left:45%;
}

/* style for task list ul*/
#autoagentlisturl
{
	list-style: none;
	margin-left:-25px;
}

#autoagenttitlerow
{
	border-bottom: 1px solid #E1E1E1;
	height:50px;
}


.autoagentdatarow:nth-of-type(odd)
{
	background:#ebf2f9;
}

.autoagentdatarow
{
	margin-left: 0px;
	border-bottom: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	height: 40px;
}

#autoagenttitlerow span
{
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin-left: 2px;
	text-align:left;
	color: #48A781;
	font-size: 80%;
	font-weight: bold;
}

.autoagentdatarow span
{
	display: inline-block;
	padding: 5px 0px 5px 0px;
	margin-left: 2px;
	text-align: left;
	font-size: 70%;
	margin-bottom: 0px;
}


.autoagentidheader
{
	width:5%;
	padding: 2px 0px 2px 0px;
}
.autoagentnameheader
{
	width:20%;
}

.autoagentipheader
{
	width:15%;
}

.autoagentosheader
{
	width:5%;
}

.autoagentbrowsersheader
{
	width:20%;
}

.autoagentstatusheader
{
	width:5%;
}

.autoagentoperationheader
{
	width:5%;
}


.autoagentidcontent
{
	width:5%;
	padding: 2px 0px 2px 0px;
}
.autoagentnamecontent
{
	width:20%;
	text-overflow:ellipsis;
    white-space:nowrap;
    	overflow:hidden;
}

.autoagentipcontent
{
	width:15%;
}

.autoagentoscontent
{
	width:5%;
}

.autoagentbrowserscontent
{
	width:20%;
}

.autoagentstatuscontent
{
	width:5%;
}


.autoagentoperationcontent
{
	width:5%;
}





.mouseroverdatarow {
	background-color: #74787c;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.6;
}



/* autoagent operation style ---------------------------------------------*/
.objectoperation
{
	list-style: none;
}

.operationitem
{
	width:100px;
	padding-left: 20px;
}

.operationimg
{
	cursor: pointer;
}

img[name=delete]
{
	display:none;
}

img[name=rowedit]
{
	display:none;
}
img[name=detail]
{
	display: none;
}


.hiddenelement
{  
	display:none; 
}

/*autoagent 工具条 样式*/

#autoagentsearchbox
{
	margin-left:50%;
}
/*创建任务页面*/

.text-input
        {
            height: 21px;
            width: 100%;
        }
        .autoagent_create_table
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .autoagent_create_table td, 
        .autoagent_create_table tr
        {
            margin: 10px;
            padding: 10px;
            border-spacing: 0px;
            border-collapse: collapse;
            font-family: Verdana;
            font-size: 12px;
        }
        h3 
        {
            display: inline-block;
            margin: 0px 0px 0px 30px;
        }

#autoagent_create
{
	border: none;
}

#autoagent_create_form
{
	padding-left:60px;
	padding-top:30px;
}
.autoagent_page_title
{
	background-color:#e8e8e8;
}

.autoagent_advance
{
	display:none;
}

/*行操作按钮样式*/
/*button[name=autoagentrowedit] {
	display: none;
}
button[name=autoagentrowdetail] {
	display: none;
}

button[name=autoagentrowdelete] {
	display: none;
	width: 60px;
}

button[name=autoagentrowrun] {
	display: none;
	width: 60px;
}

button[name=autoagentrowrunreport] {
	display: none;
	width: 60px;
}*/


#dialogcontainer {
	display: none;
}

#dialog-newtestjob {
	display: none;
}

.modelforminputbox {
	width: 150px;
	height: 25px;
}

.modelformselect {
	width: 150px;
	height: 25px;
}

.modelformmulipleselect {
	width: 150px;
	height: 100px;
	scrollbar-3dlight-color: gray;
}

.hiddenelement {
	display: none;
}

.button {
	width: 50px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	border-radius: 5px;
	/*margin:0 20px 20px 0;*/
	position: relative;
	overflow: hidden;
}

.button.gray 
{
	color: #8c96a0;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #dce1e6;
	box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);
}

.operationbutton {
	cursor: pointer;
}
img[name=autoagentrowmore]
{
	padding:2px 0px 0px 10px;
}

ul[name=autoagentrowoperationitems]
{
	display:none;
}

/*测试配置form 可选字段*/

.autoagent_opionalfield
{
	display:none;
}

