
		<div class="issue-filter col-sm-2 hidden-xs" style="background-color:">
		      <div class="issue-filter-panel">
		           <div class="issue-filter-panel-head">
		                <div class="issue-filter-panel-head-tools">
		                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                              <button id="issue_filter_save_button"   type="button" class="btn btn-default">
                              <i class="fa fa-fw fa-save" ></i>保存</button>
                              
                              <button id="issue_filter_clear_button" type="button" class="btn btn-default"><i class="fa fa-fw fa-trash" ></i>清空</button>
                             </div>
		                </div>
		                <span class="dropdown">
                           <button style="border:none;" class="btn btn-default btn-xs dropdown-toggle" type="button" id="current_issue_query_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                             <span>筛选</span>
                             <span class="caret"></span>
                            </button>
                            <input  id="current_issue_query" type="hidden" value="0" />
                           <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="issue_filter_menu">
                              {{ filter_menu_list }}
                           </ul>
                         </span>
		           </div>
		          
		           <div class="issue-filter-panel-body" style="max-height:750px;">
                         {{ issue_filter_body }}
		           </div>
		           
		           <div class="issue-filter-panel-footer">
		           </div>
		      </div>
		 </div>
