<div class="modal fade" id="issue-operation-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-md" role="document" style="position:fixed;left:20%;right:25%;bottom:30px;top:100px;">
		<div class="modal-content modal-dialog-form-middle" style="height:400px;border-radius:0px;">
			<div class="modal-header">
			    <input type="hidden" id="issue_id" value="{{ issue_id }}" />
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{% if operation_type == "1" %}
				<h4 class="modal-title" id="exampleModalLabel">解决问题</h4>
				{% endif %}
				
				{% if operation_type == "2" %}
				<h4 class="modal-title" id="exampleModalLabel">关闭问题</h4>
				{% endif %}
				
				{% if operation_type == "3" %}
				<h4 class="modal-title" id="exampleModalLabel">重新打开问题</h4>
				{% endif %}
			</div>
			<div class="modal-body" style="overflow-y:scroll;height:70%;">
			  
			  {% if operation_type == "1" %}
			     <div class="form-group" style="margin-bottom: 70px;">
		<label for="Solution" class="col-sm-2 control-label">解决结果:</label>
		<div class="col-sm-10">
		    <select name="Solution" id="Solution">
            {{ solution_dorpdownlist }}
            </select>
		</div>
	</div>
			     
			  {% endif %}
			  
			   <div  class="form-group">
			   <label for="IssueTitle" class="col-sm-2 control-label">备注:</label>
			   <div class="col-sm-10">
			       <textarea id="issue_operation_comment" class="form-control" rows="5" ></textarea>
			   </div>
			   </div>
			   
			</div>
			<div class="modal-footer" id="issue_dialog_footer">
			   <button type="button" class="btn btn-default" data-dismiss="modal" id="issue_operation_close_button">
			取消
			</button>
			<button type="button" class="btn btn-success" id="issue_operation_ok_button">
			保存
			</button>
			</div>
		</div>
	</div>
</div>