<div class="container-fluid">
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground">
			<span class="panel-title">Agent</span>
			<span class="pull-right nic-circle-30-green" style="margin-right:52px;">
		    <span id="ci_agent_add" class="nic-content-30-white cursor-hand"><i class="fa fa-plus fa-fw"></i></span>
		   </span>
		</div>
		<div class="ci-panel-body-nonbackground" id="ci_settings_agent_container">
			{{ ci_agent_listcontroll }}		     
		</div>
		
		<div class="ci-panel-footer-nonbackground">
			<a class="pull-right" id="ci_view_more_agent"><i class="fa fa-hand-o-right fa-fw"></i>
			</a>     
		</div>
	</div>
</div>