
<div id="ci_settings_sub_leftnav" class="left_sub_nav">
	<div class="sub_bar_header">
		<p>
		<h5>设置</h5>
		
	</p>
	</div>
<div class="left_sub_menu_container">
	
	<ul class="nav nav-stacked">
		
		<li class="{{ page.global_settings_active }}">
			<a href="/ci/settings/global_variable" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>全局变量</a>
		</li>
		
		
		<li class="{{ page.agent_active }}">
			<a href="/ci/settings/agent" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>Agent<!-- <span class="badge pull-right">2</span> --></a>
		</li>
		
		<li class="{{ page.server_active }}">
			<a href="/ci/settings/servers" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>服务器<!-- <span class="badge pull-right">2</span> --></a>
		</li>
		
		<li class="{{ page.credentials_active }}">
			<a href="/ci/settings/credentials" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>凭证<!-- <span class="badge pull-right">2</span> --></a>
		</li>
		<li class="{{ page.tags_active }}">
			<a href="/ci/settings/tags" class="left_sub_menu_item"><i class="fa fa-tag fa-fw pull-left"></i>任务标签<!-- <span class="badge pull-right">2</span> --></a>
		</li>

	</ul>

</div>
</div>