<div class="container-fluid" style="padding:0px;max-height: 800px;overflow-y:  scroll;">
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground" style="border-bottom:none;">
			<div class="input-group ci_tag_create_input">
				<span class="input-group-addon"><i class="fa fa-cog "></i></span>
				<input type="text" class="form-control" id="ci_add_tag" placeholder="添加一个标签(回车完成添加)">
				<span class="input-group-addon" name="ci_add_tag"><a ><i class="fa fa-arrow-right fa-fw"></i></a></span>
			</div>
		</div>
		<div class="ci-panel-body-nonbackground" style="padding-left:20px;">
			{{ ci_tag_list }}
		</div>
	</div>
</div>