{% for fortesting in page.fortestings %}
		   <div  class="project_fortesting_listview_item container-fluid">
		   	<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8">
						<div class="project_fortesting_listview_item_title row">
							<span class="col-sm-12 fontfamily">
								<i class="fa fa-fw {{ fortesting.platform }}"></i>
								<span contentEditable="true" name="fortesting_project-title">{{ fortesting.project_title }}</span>
							</span>
						</div>
						<div class="project_fortesting_listview_item_content row">
							<span class="col-lg-10 col-md-11 col-sm-11 col-xs-11"> 
								{% if page.fullpart %}
								<span class="project_fortesting_listview_item_timer"> 
									
									<i class="fa fa-calendar"></i> 
									<span class="" name="fortesting_commit_time">{{ fortesting.fortesting.CommitTime|default_if_none:"还未提测" }}</span> 
									</span>
								{% endif %}
								<span name="fortesting_id">#{{ fortesting.fortesting.id }}</span>
								    <span class="project_fortesting_listview_item_runtime"> <span>{{ fortesting.version }}</span> </span>
							   	    <span> <i class="fa fa-info-circle fw"></i> <a href="/project/{{ fortesting.fortesting.ProjectID }}/fortesting/{{ fortesting.fortesting.id }}"><span>详情</span></a> </span>
							</span>
						</div>


				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-4" style="line-height:1.5em">
					{% if page.fullpart %}
					<span style="margin-top:20px; display:inline-block">
						<a>
						   <img src="{{ fortesting.commitor_avatar }}" style="height:30px;width:30px" class="img-circle" title="{{ fortesting.commitor_name }}" />	
						</a>
					</span>
					{% endif %}
					<span style="margin-top:30px;margin-left:30px;display:inline-block" class="postion-absolute"><!-- <i class="fa fa-gears fa-fw fa-lg"></i> -->
					 <a>
					 	<!-- <span class="label label-success" name="fortesting_build">构建</span> -->
					 	{% if not fortesting.is_commited %}
					 	<span class="label label-warning" name="fortesting_commit">提测</span>
					 	{% endif %}
					 </a>
					</span>
				</div>				    
				
				
			</div>
		    </div>
		    {% endfor %}