<div class="page-panel-default">
	<div class="page-panel-head-default">
		<span class="panel-title">项目动态</span>
	</div>
	<div class="page-panel-body-default">
		<ul class="nav nav-tabs" role="tablist" id="project-activities" >
			<li role="presentation" class="active">
				<a href="#project" aria-controls="project" role="tab" data-toggle="tab">项目</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="project">
				<div class="container-fluid doraemon-activity" id="project_dashbaord_activites">
				  
				  {{ activity_webpart }}
						
				</div>			
			
			</div>

		</div>
	</div>
	<div class="page-panel-body-default">
		<a id="project_dashbaord_more_activites">查看更多动态</a>
	</div>
</div>