<div class="container-fluid">
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground">
			<h3 class="panel-title">所有服务</h3>
		</div>
		<div class="ci-panel-body-nonbackground" id="ci_service_container">
			<div class="input-group ci_service_create_input">
				<span class="input-group-addon"><i class="fa fa-cog "></i></span>
				<input type="text" class="form-control" id="ci_add_service" placeholder="添加一个服务(回车完成添加及配置)">
				<span class="input-group-addon" name="ci_create_service"><a ><i class="fa fa-arrow-right fa-fw"></i></a></span>
			</div>
			{{ ci_service_listcontroll }}		     
		</div>
		
		<div class="ci-panel-footer-nonbackground">
			<a class="pull-right" id="ci_view_more_service"><i class="fa fa-hand-o-right fa-fw"></i>
				查看更多服务
			</a>     
		</div>
	</div>
</div>