{% for service in ci_services %}
<div  class="ci_service_listview_item container-fluid">
	<div class="row">
		<div class="col-sm-9">
			<div class="ci_service_listview_item_title row" style="margin-top:25px;">
				<span class="col-sm-12"> 
					{% if not service.is_avaliable  %}
						    <i class="fa fa-fw fa-exclamation-triangle" style="color:red;"></i>
				    {% else %}
				       <i class="fa fa-fw fa-check-circle status-success" name="ci-service-check"></i>   
					{% endif %}
					
					 <span  name="ci-service_title" >
					<a style="color:#555" href="/ci/service/{{ service.ci_service.id }}/config">
						{{ service.ci_service.ServiceName }}</a>
					</span> </span>
			</div>
			<div class="ci_service_listview_item_content row">
				<span class="col-sm-12">
					<span name="ci_service_id" style="display: none;">#{{ service.ci_service.id }}</span> 
					
					 <!-- <span> <i class="fa fa-cog fw"></i> 
					 	<span><a href="/ci/service/{{ service.ci_service.id }}/config">配置</a></span> 
					 </span>  -->	
					 
					    <!-- <span class='label label-default ' style='background-color:red ; opacity:0.5;font-size:8px !important;' title="在完成配置前，服务暂时不可用">等待配置</span> -->
	 		</span>
			</div>

		</div>
		<!-- <div class="col-sm-1 cursor-hand" style="line-height:1.5em;">
			<span style="margin-top:30px; display:inline-block"> <img src="{{ service.service_project_avatar }}" style="width:30px;height:30px;" class="img-circle" title="{{ service.service_project_title }}"> </span>
		</div> -->
		<div class="col-sm-3 cursor-hand" style="line-height:1.5em;display:none;" name="service_row_operation">
			<a><span style="margin-top:30px;display:inline-block;cursor:pointer" name="service_copy"><i class="fa fa-copy fa-fw fa-lg" style="color:green;"></i></span></a> 
			<a><span style="margin-top:30px;display:inline-block;cursor:pointer" name="service_delete"><i class="fa fa-trash-o fa-fw fa-lg" style="color:red;"></i></span></a> </span>
		 <!-- <a><span style="margin-top:30px;display:inline-block;cursor:pointer" name="service_run"><i class="fa fa-play-circle fa-fw fa-lg" style="color:green;"></i></span></a> -->
			<!-- <a name="ci_service_operation"><span style="margin-top:30px;display:inline-block;cursor:pointer" name="service_run"><i class="fa fa-gears fa-fw fa-lg" style="color:gray;"></i></span></a> -->
			<!-- <span name="ci_service_operation_group" class="row-operation-group" style="display: none">  -->
				<!-- <a href="/ci/service/{{ service.ci_service.id }}/config"><span style="margin-top:30px;display:inline-block;cursor:pointer" name="service_config"><i class="fa fa-cog fa-fw fa-lg" style="color:green;"></i></span></a> -->
		</div>
	</div>
</div>
{% endfor %}
