<span class="dorpdown_option_menu" role="version_menu">
<div>
	<b class="top"> <i class="top-arrow1"></i> <i class="top-arrow2"></i>
	</b>
</div>
<ul class="dorpdown_option_list" role="version_menu">
  {% for version in versions %}
	<li class="option-item" labelid='{{ version.version.id }}'>
	   <span name="item-icon" style="display:inline-block;width:30px;padding-left:10px;"><i   class="fa fa-code-fork fa-fw "></i></span>
	   <span name="item-text" style="display:inline-block;width:70px;"> {{ version.version.VVersion }}</span>
	   <span name="item-status" style="display:inline-block;width:30px;" ><i class="fa  {{ version.is_selected }}" type='{{ version.version.id }}'></i></span>
  </li>
 {% endfor %}
</ul>
 </span>