{% for activity in activities %}
                     <div style="height:50px">
                     <span style="margin-left:-13px;">
                      <div class="nic-circle-25-gblue" style="margin-right:5px;" title="{{ activity.action_flag_name }}{{ activity.action_type_name }}" data-toggle="tooltip" data-placement="right">
		             <span id="tool_bar_new_issue" class="nic-content-25-white cursor-hand">
		             <i class="fa {{ activity.action_flag_icon }} fa-fw"></i></span>
		              </div>
                    </span>
                    <span class="processor">
                     {{ activity.creator_name }}
                     </span>
                    <span class="activity-message"> 
                        {{ activity.action_flag_name }}{{ activity.activity.FieldDesc }} {{ activity.activity_message|default_if_none:"" }}
                   </span>
                     <span class="activity-time pull-right">
                        {{ activity.create_date }}
                   </span>
                 </div>
{% endfor %}