{% for issue_item in issue_items %}      
                 <div class="project_issue_listview_item container-fluid cursor-hand" issue_id="{{ issue_item.issue.id }}">
                   <div class="row">
                     <div class="col-sm-12" style="margin-left: 0px;">
                      <div class="project_issue_listview_item_title row">
                          <span class="col-sm-12">
                          <i class="fa fa-circle {{ issue_item.severity.LabelStyle }}"  title="{{ issue_item.severity.Name }}" data-toggle="tooltip" data-placement="bottom"></i>
                          <span  class="issue-id"  title="问题ID" data-toggle="tooltip" data-placement="bottom">#{{ issue_item.issue.id }}</span>
                          <span  class="issue-title">
                            <span name="issue_defalut_title" >{{ issue_item.default_title }}</span>
                            <span name="issue_real_title">{{ issue_item.issue.Title }}</span>
                          </span> 
                          </span>
                      </div>
                      <div class="project_issue_listview_item_content row">
                          <div class="col-sm-12">
                              <span class="issue-content" title="问题状态" data-toggle="tooltip" data-placement="bottom">
                                            <i class="fa fa-eye gray"></i> 
                                        <span class="{{ issue_item.status.LabelStyle }}">{{ issue_item.status.Name }}</span>
                                        </span>
                                        <span class="issue-content"  title="创建人" data-toggle="tooltip" data-placement="bottom" class="ng-scope">
                                            <span ><i class="fa fa-user"></i> {{ issue_item.creator_name }}</span>
                                        </span>
                                        <span class="issue-content" title="经办人" data-toggle="tooltip" data-placement="bottom">
                                            <span class="gray "><i class="fa fa-hand-o-right"></i> {{ issue_item.processor_name }}</span>
                                        </span>
                                       <span class="issue-content"  title="模块名称" data-toggle="tooltip" data-placement="bottom"  class="ng-scope">
                                            <span > <i class="fa fa-cube"></i> {{ issue_item.module_name }}</span>
                                        </span>
                                        <span class="issue-content"  title="版本" data-toggle="tooltip" data-placement="bottom" class="ng-scope">
                                            <span ><i class="fa fa-code-fork"></i> {{ issue_item.version }}</span>
                                        </span>
                                        <span class="issue-content" title="创建日期" data-toggle="tooltip" data-placement="bottom">
                                            <span > <i class="fa fa-clock-o"></i> {{ issue_item.create_date }}</span>
                                        </span>
                                        
                                        <span class="issue-content" title="解决结果" data-toggle="tooltip" data-placement="bottom">
                                        <span><i class="fa {{ issue_item.solution.Label }} {{ issue_item.solution.LabelStyle }}"></i>{{ issue_item.solution.Name }}</span>
                                        </span>
                          </div>
                       </div>
                      </div>
                   </div>
                   </div>
           {% endfor %}