<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-file fw"></i> 项目</p>
        <div class="col-md-12 col-xs-12" style="margin-top:5px;">
            <select name="Project" id="Project" field_name="Project" class="dropdown_filter">
                {{ project_dropdown_list }}
            </select>
        </div>
    </div>
</div>

<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-road fa-fw"></i> 版本</p>
        <div class="col-md-12 col-xs-12" style="margin-top:5px;">
            <select name="Version" id="Version_s" multiple="multiple" field_name="Version" class="dropdown_filter">
                {{ project_version_dropdown_list|safe }}
            </select>
        </div>


    </div>
</div>

<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-group fa-fw"></i> 团队</p>
        <div class="col-md-12 col-xs-12" style="margin-top:5px;">
            <select name="Team" id="Team" multiple="multiple" field_name="Team" class="dropdown_filter">
                {{ team_dropdown_list|safe }}
            </select>
        </div>
    </div>
</div>


<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-eye"></i> 状态</p>

        {% for status in status_list %}
            <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top:5px;">
                <label class="checkbox-inline" field_name="Status_s">
                    <input type="checkbox" name="issue_status" {{ status.is_checked }}
                           value="{{ status.issue_field.Value }}" class="checkbox_filter"/>
                    <i class="fa {{ status.issue_field.Label }} fa-fw {{ status.issue_field.LabelStyle }}"></i>
                    {{ status.issue_field.Name }}
                </label>

            </div>
        {% endfor %}

    </div>
</div>


<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-hand-o-right fa-fw"></i> 经办人</p>
        <div class="col-md-12 col-xs-12" style="margin-top:5px;">
            <select name="Processor" multiple="multiple" id="Processor_s" field_name="Processor"
                    class="dropdown_filter">
                {{ processor_dropdown_list|safe }}
            </select>
        </div>
    </div>
</div>


<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-user fa-fw"></i> 报告人</p>
        <div class="col-md-12 col-xs-12" style="margin-top:5px;">
            <select name="Creator" id="Creator_s" multiple="multiple" field_name="Creator" class="dropdown_filter">
                {{ reporter_dropdown_list|safe }}
            </select>
        </div>
    </div>
</div>

<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-calendar-o fa-fw"></i> 创建时间</p>
        <input id="input_issue_create_date" type="hidden" value="{{ create_date }}"/>
        <div id="issue_create_date" class="col-sm-12" field_name="CreationTime"
             style="margin-top:5px;margin-left:15px;">
        </div>
    </div>
</div>


<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-shield fa-fw"></i> 严重性</p>
        {% for severity in severity_list %}
            <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top:5px;">
                <label class="checkbox-inline" field_name="Severity_s">
                    <input type="checkbox" name="issue_severity" {{ severity.is_checked }}
                           value="{{ severity.issue_field.Value }}" class="checkbox_filter"/>
                    <i class="fa {{ severity.issue_field.Label }} fa-fw {{ severity.issue_field.LabelStyle }}"></i>
                    {{ severity.issue_field.Name }}
                </label>
            </div>
        {% endfor %}

    </div>
</div>

<div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
        <p><i class="fa fa-braille fa-fw"></i> 解决结果</p>

        {% for solution in solution_list %}
            <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top:5px;">
                <label class="checkbox-inline" field_name="Solution_s">
                    <input type="checkbox" name="issue_solution" {{ solution.is_checked }}
                           value="{{ solution.issue_field.Value }}" class="checkbox_filter"/>
                    <i class="fa {{ solution.issue_field.Label }} fa-fw {{ solution.issue_field.LabelStyle }}"></i>
                    {{ solution.issue_field.Name }}
                </label>
            </div>
        {% endfor %}

    </div>
</div>
                       
		               
		               
		          
		           