<div class="modal fade" id="newpermission-popup-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content middle-modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">创建权限</h4>
			</div>
			<div class="modal-body">
			    {{ formhtml }}
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" id="permission_close_button">
			取消
			</button>
			<button type="button" class="btn btn-success" id="permission_create_button">
			创建
			</button>
			</div>
		</div>
	</div>
</div>
