<div id="autorunresultlist">
	<ul id="autorunresultlisturl">
		<li id="autorunresulttitlerow">
			<!-- <input id="autorunresultselectall" type="checkbox" disabled=""/> -->
			<span class="autorunresultidheader">ID</span>
			<span class="autorunresulttaskidheader">任务ID</span>
			<span class="autorunresulttotalheader">Total</span>
			<span class="autorunresultpassheader">Pass</span>
			<span class="autorunresultfailheader">Fail</span>
			<span class="autorunresultabortedheader">Aborted</span>
			<span class="autorunresultstarttimeheader">开始时间</span>
			<span class="autorunresultendtimeheader">结束时间</span>
			<span class="autorunresultstatusheader">状态</span>
			<span class="autoagenoperationheader">操作</span>
		</li>
		{% for autorunresult in autorunresultlist %}
		  <li class="autorunresultdatarow">
		  	<!-- <input name="selectautorunresult" type="checkbox" /> -->
		    <span class="autorunresultidcontent">
		    	{{ autorunresult.autorunresult.id }}
		    </span>
		    <span class="autorunresulttaskidcontent">
		    	{{ autorunresult.autorunresult.TRTaskID }}
		    </span>
		    <span class="autorunresulttotalcontent">{{ autorunresult.get_autorunresult_total }}</span>
		    <span class="autorunresultpasscontent">{{ autorunresult.get_autorunresult_pass }}</span>
		    <span class="autorunresultfailcontent">{{ autorunresult.get_autorunresult_fail }}</span>
		    <span class="autorunresultabortedcontent">{{ autorunresult.get_autorunresult_aborted }}</span>
		    <span class="autorunresultstarttimecontent">{{ autorunresult.get_starttime }}</span>
		    <span class="autorunresultendtimecontent">{{ autorunresult.get_endtime }}</span>
		    <span class="autorunresultstatuscontent">{{ autorunresult.get_status }}</span>
		    <span class="autorunresultoperationcontent">  
		    	<button name="autorunresultrowedit" class="button gray operationbutton">详情</button> 
			</span>
		  </li>
       {% endfor %}
	</ul>
	
</div>