<header>
        我的任务
        <article>
            在此可以查看我的所有的任务，以及某项目中我的任务。
        </article>
</header>
<div class="left_sub_menu_container">
	<ul class="left_sub_menu">
		<li class="left_sub_meun_active">
			<a class="left_sub_menu_item" href="#"><i class="fa fa-tasks fa-fw"></i>&nbsp; 所有任务 &nbsp;(5)</a>
		</li>
		<li>
			<a class="left_sub_menu_item" href="#"><i class="fa fa-tasks fa-fw"></i>&nbsp; 所有任务 &nbsp;(5)</a>
		</li>
		<li>
			<a class="left_sub_menu_item" href="#"><i class="fa fa-tasks fa-fw"></i>&nbsp; 所有任务 &nbsp;(5)</a>
		</li>
		<li>
			<a class="left_sub_menu_item" href="#"><i class="fa fa-tasks fa-fw"></i>&nbsp; 所有任务 &nbsp;(5)</a>
		</li> 
	</ul>

</div>