<html>
	<link rel="stylesheet" href="/static/global/js/jquery-ui-1.10.4/demos/demos.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/css/global.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/js/jquery-ui-1.10.4/themes/base/jquery-ui.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/js/jquery-ui-1.10.4/themes/base/jquery.ui.all.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/css/jqpagination.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/styles/jqx.base.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/styles/jqx.arctic.css" type="text/css" media="screen"/>
		<link rel="stylesheet" href="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/styles/jqx.metro.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/styles/jqx.ui-lightness.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/styles/jqx.ui-start.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/testjob/css/testsubmition.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/testjob/css/testjob.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/productquality/css/bugreport.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/productquality/css/codequality.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/toolbox/css/toolbox.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/autotesting/css/autotask.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/autotesting/css/autotestconfig.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/autotesting/css/autoagent.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/autotesting/css/automobiledevice.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/autotesting/css/autorunresult.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/testjob/css/testproject.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/static/testjob/css/projectversion.css" type="text/css" media="screen"/>

	{% block styles %}<!--custom styles-->{% endblock %}

	<header>
		<title>Doraemon</title>
	</header>

	<body>
		<div id="header">
			<span class="headerTitle">Doraemon</span>
			<span id="logininfo"> {% if user.is_authenticated %} <a id="login" href="#">{{ user.last_name }}{{ user.first_name }}</a> <a id="logout" href="/accounts/logout">[退出]</a> <a id="changepassword" href="/admin/password_change">[修改密码]</a> {% else %} <a id="login" href="#">请登陆!</a> {% endif %} </span>
		</div>
		<div id='jqxWidget'>
			{% if user.is_authenticated %}
			<div id='jqxTabs' class="navigatertab">
				<ul>
					<li style="margin-left: 30px;">
						项目测试
					</li>
					<li>
						自动化测试
					</li>
					<li>
						产品质量
					</li>
					<li>
						工具
					</li>
				</ul>
				<div id="projectbar"  class='navigaterBar'>
					<ul>
						<li id="testsubmitionnav" >
							<a   href="#">项目提测</a>
						</li>
						<li id="testjobnav" >
							<a  href="#">测试计划</a>
						</li>
						{% if request.can_view_project %}
						<li id="testprojectnav" >
							<a  href="#">项目</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<div id="automationbar"  class='navigaterBar'>
					<ul>
						<li id="autotasknav">
							<a  href="#">测试任务</a>
						</li>
						<li id="autorunresultnav">
							<a href="#">运行结果</a>
						</li>
						<li id="autotestconfignav">
							<a href="#">任务配置</a>
						</li>
						<li id="autoagentnav">
							<a href="#">机器结点</a>
						</li>
						<li id="mobiledevicenav">
							<a href="#">移动设备</a>
						</li>
					</ul>
				</div>
				<div id="qualitybar" class='navigaterBar'>
					<ul>
						<li id="bugreportnav">
							<a  href="#">Bug报告</a>
						</li>
						<li id="codequalitynav">
							<a  href="#">代码质量</a>
						</li>
					</ul>
				</div>
				<div id="toolbar" class='navigaterBar'>
					<ul>
						<li id="toolnav">
							<a  href="#">测试工具</a>
						</li>
					</ul>
				</div>

				{% endif %}
			</div>
			<div id="mainContainer">
			   <div id="leftContainer" class="splitter-panel"></div>
			   <div id="middleContainer" class="splitter-panel">
				{% block content %} {% endblock %}
			   </div>
		    </div>
		</div>
	</body>

	<script  type="text/javascript" src="/static/global/js/jquery-1.11.1.min.js"></script>
	<script  type="text/javascript" src="/static/global/js/jquery-ui-1.10.4/ui/jquery-ui.js"></script>
	<script  type="text/javascript" src="/static/global/js/jquery-ui-1.10.4/ui/jquery.ui.core.js"></script>
	<script  type="text/javascript" src="/static/global/js/jquery-ui-1.10.4/ui/jquery.ui.widget.js"></script>
	<script  type="text/javascript" src="/static/global/js/jquery-ui-1.10.4/ui/jquery.ui.accordion.js"></script>
	<script  type="text/javascript" src="/static/global/js/global.js"></script>
	<script  type="text/javascript" src="/static/global/js/jquery.form.js"></script>
	<script  type="text/javascript" src="/static/global/js/jquery.jqpagination.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxcore.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxmenu.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxtabs.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxtoolbar.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxbuttons.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxcombobox.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxinput.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxlistbox.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxdropdownlist.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxscrollbar.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxexpander.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxvalidator.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxcheckbox.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/globalization/globalize.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxcalendar.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxdatetimeinput.js"></script>
	<script  type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxmaskedinput.js"></script>
	<script type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxsplitter.js"></script>
    <script type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxnotification.js"></script>
    <script type="text/javascript" src="/static/global/js/jqwidgets-ver3.7.1/jqwidgets/jqxeditor.js"></script>
	<script src="/static/global/js/Highcharts-4.0.3/js/highcharts.js"></script>

	{% block scripts %}
	<!--custom scripts-->
	{% endblock %}
</html>