<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link rel="stylesheet"
	href="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/styles/jqx.base.css"
	type="text/css" media="screen" />
<link rel="stylesheet"
	href="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/styles/jqx.bootstrap.css"
	type="text/css" media="screen" />
<link rel="stylesheet"
	href="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/styles/jqx.ui-start.css"
	type="text/css" media="screen" />
<link rel="stylesheet"
	href="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/styles/jqx.metro.css"
	type="text/css" media="screen" />
<link rel="stylesheet"
	href="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/styles/jqx.office.css"
	type="text/css" media="screen" />
<link rel="stylesheet"
	href="/static/global/css/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
<link
	href="/static/global/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css"
	rel="stylesheet">
<link rel="stylesheet/less" href="/static/global/less/global.less"
	type="text/css" media="screen" />
<link rel="stylesheet/less" href="/static/project/less/project_task.less"
	media="screen" />
<link rel="stylesheet/less" href="/static/global/js/dropzone/dropzone.css" type="text/css"
	media="screen" />
<link rel="shortcut icon" href="/static/global/images/logo.jpg" type="image/vnd.microsoft.icon" />
<link rel="icon" href="/static/global/images/logo.jpg" type="image/vnd.microsoft.icon" />
<link href="/static/global/js/bootstrap-markdown-editor/bootstrap-markdown-editor/dist/css/bootstrap-markdown-editor.css" rel="stylesheet">
<link rel="bookmark" type="image/x-icon" href="/static/global/images/logo.jpg"/>
{% block styles %}
<!--custom styles-->
{% endblock %}

<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">

<title>TeamCat</title>

</head>

<body
	style="display: none; background: {{ login_background|safe }};height:100% !important;opacity:0.95;">
	<div class="" style="display: none" id="global-mark">
		<div
			style="margin-left: auto; margin-right: auto; margin-top: 22%; margin-bottom: 45%; height: 10%; width: 30px; color: #FFF">
			<i class="fa fa-5x fa-spinner fa-pulse"></i>
		</div>

	</div>
	<div id="master-header-div"
		class="container-fluid master-page-header master-page-header-font">
		<div class="row">
			<div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 master-page-header-logo">
				<ul class="list-inline">
					<li class=""><a href="/home/summary"><img
							src="/static/global/images/logo.jpg" / class="img-circle"
							style="width: 40px; height: 40px;"></a></li>
				</ul>
			</div>

 			<div class="col-lg-1 col-md-2 hidden-sm hidden-xs">
				<div>
					<ul class="list-inline cursor-hand">
						<li class="master-page-header-title text-center">TeamCat

						</li>
					</ul>
				</div>
			</div>
			<div id="headermenu" class="col-lg-6 col-md-6 col-sm-9">
				<div id='headermenubar' class="master-page-menu"
					style=' margin-left: 5px;'>
					<ul class="list-inline">
					    <li name="header_menu_home">
						<a href="/home/summary"style="font-family: '幼圆' !important;">
						<i class="fa fa-fw  fa-home"></i>我的</a>
						</li>
 						<li name="header_menu_project">
						<a href="/project"style="font-family: '幼圆' !important;">
						<i class="fa fa-fw  fa-laptop"></i>项目</a> 
							<span name="header_menu_project_label" class="master-page-header-menu-circle" style=" color: #e0861a;display:none"><i
								class="fa fa-circle fa-fw"></i></span>
                            <span name="header_menu_project_status" class="master-page-header-menu-label" style=" color: #e0861a;"><i class="fa fa-circle fa-fw"></i></span>
						</li>
                        <li name="header_menu_ci"><a href="/ci/task">
                            <i class="fa fa-fw  fa-building-o"></i>CI</a>
                            <span name="header_menu_ci_label" class="master-page-header-menu-circle" style="color: #f58f98;display:none"><i
                                    class="fa fa-circle fa-fw"></i></span>
                            <span name="header_menu_ci_status" class="master-page-header-menu-label"
                                  style=" color: #f58f98"><i class="fa fa-circle fa-fw"></i></span></li>

					</ul>
				</div>
			</div>

           {{ header_project_group }}
           
			<div id="headersettings" class="hidden-sm hidden-xs col-md-2 col-lg-2 pull-right master-page-header-settings">
				<div id='headersettingbar' style='visibility: hidden; margin-left: 5px;'>
				{% login_required %}
					<ul class="list-inline">
						<li id="new_item"  style="display:none;">
						  <span class="nic-circle-20-green"><span class="nic-content-20-white">
						     <i style="color:#FFF !important;opacity:1;padding-top:5px;" class="fa fa-plus fa-fw fa-lg"></i>
						   </span></span>

							</li>
							<li id="head_add_issue" style="display: none;"><a style="color: #777">新建问题</a></li>
						<!-- <li><i class="fa fa-bell-o fa-fw fa-2x"></i></li> 
 -->						{% manager_required %}
						<li id="admin_board"><i class="fa fa-cogs fa-fw fa-lg"></i>
							<ul>
								<li><a href="/administrate/user/all">
								<i class="fa fa-user fa-fw fa-lg"></i>用户</a></li>
								<li><a href="/administrate/device/all">
								<i class="fa fa-mobile fa-fw fa-lg"></i>设备</a></li>
								<li><a href="/administrate/device/all"><i class="fa fa-asterisk fa-fw fa-lg"></i>IOS证书</a></li>
							</ul></li> 
						{% end_manager %}

						<li id="loginuser"><i class="fa fa-user-o fa-fw fa-lg"></i>
							<ul>
								<li><a href="/ucenter/{{ request.user.id }}/account/basic"><i
										class="fa fa-home fa-fw pull-left"></i> 个人中心</a></li>
								<li><a href="/user/logout">
								<i class="fa fa-sign-out fa-fw pull-left"></i> 注销</a></li>
							</ul></li>

					</ul>
					{% end_login %} 
					{% logout_required %} 
					<a class="login-button" href="/user/login" style="">登陆</a> 
					{% end_logout %}
				</div>

			</div>
		    </div>
	</div>
	
	<div id="mainContainer">
		{% login_required %}
		   {% if left_nav_bar != "" %}
		   <div id="leftContainer">
		   {% block left %}
		   {% endblock %}
		   </div>
	       {% endif %}
		{% end_login %}
		<div id="contentContainer">{% block content %} {% endblock %}</div>
	</div>
	<div id="popup-dialog-container"></div>

		<div class="modal fade" id="object_delete_confirm">
			<div class="modal-dialog">
				<div class="modal-content modal-dialog-alert-middle">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">删除确认</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-danger" role="alert">
							<i class="fa fa-exclamation-triangle fa-fw"></i>删除是危险操作，请确认是否删除！
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							id="object_delete_confirm_button">删除</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<div id="operation_notification">
			<div id="operation_notification_message"></div>
		</div>
		<div id="notification_container" class="notify_container"></div>
</body>
<!-- <script type="text/javascript" src="/static/global/js/jquery-1.8.2.js"></script> -->
<script src="/static/global/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxcore.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxribbon.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxtabs.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxtoolbar.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxcombobox.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxinput.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxexpander.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxvalidator.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/globalization/globalize.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxmaskedinput.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxsplitter.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxpanel.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxdropdownbutton.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxdata.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxnotification.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxswitchbutton.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxeditor.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxtree.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxtooltip.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxdocking.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxdragdrop.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxkanban.js"></script>
<script type="text/javascript" src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxsortable.js"></script>
<script type="text/javascript"
	src="/static/global/js/jqwidgets-ver4.1.2/jqwidgets/jqxnavigationbar.js"></script>
<script type="text/javascript"
	src="/static/global/js/less.js-master/less.js-master/dist/less.js"></script>

<script src="/static/global/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/global/js/global.js"></script>
<script type="text/javascript" src="/static/global/js/global-create-new.js"></script>
<script src="/static/global/js/Highcharts/code/highcharts.js"></script>
<script src="/static/global/js/Highcharts/code/modules/exporting.js"></script>
<script src="/static/global/js/Highcharts/code/themes/grid-light.js"></script>
<script type="text/javascript" src="/static/global/js/dropzone/dropzone.js"></script>
<script type="text/javascript" src="/static/global/js/bootstrap-markdown-editor/ace-builds/src-min/ace.js"></script>
<script type="text/javascript" src="/static/global/js/bootstrap-markdown-editor/bootstrap-markdown-editor/dist/js/bootstrap-markdown-editor.js"></script>

{% block scripts %}
<!--custom scripts-->
{% endblock %}
</html>