label 
{
   display: block;
   margin: 30px 0 0 0;
}
select {
      width: 200px;
    }
.overflow {
      height: 200px;
    }
    
    
#bugreportcontainer
{
	height:100%;
	overflow:scroll;
}

.bugreportchart
{
	width: 60%;
	padding-left:20%;
	height:50%;
}


.charttitle
{
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	font-size:1.5em;
}

.bugreportselect
{
   width: 80%;
}  

#bugreport
{
   height: 250px;
}

#bugreport div
{
	padding-bottom:10%;
}

#bugreportsummary
{
	width: 80%;
}

#bugreportsummary div
{
	padding-left:5%;
}

#bugreportsummary .title
{
	font-size:2em;
	text-align:center;
	padding-top:5%;
}

#bugreportsummary .subtitle
{
	font-size:large;
	text-align:left;
	padding-top:2%;
}

#bugreportsummary .summary
{
	font-size:small;
	padding-top:1%;
}


#bugreportsummary .content
{
	font-size:small;
	padding-top:1%;
	width: 100%;
}

#bugreportsummary .content ul
{
	list-style: none;
	width: 80%;
}

#bugreportsummary .content ul li
{
	padding-top:2%;
}


.spancontent
{
	padding-right:8%;
}

#bugreport_starttime
{
	width:80%;
}

#bugreport_endtime
{
	width:80%;
}
