{% extends "masterpage.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/userauthority/css/userauthority.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}
    
<div  class="watermark"></div>
<div id="dialog-changepassword" class="dialog-user" title="修改密码">
	<div id="dialog-changepasswordtitle" class="dialog-usertitle">
		<span >修改密码</span>
	</div>
	{% if form.errors %}
	<p class="error">
		用户名或密码无效，请检查！
	</p>
	{% endif %}
	<div id="userloginform" class="userform">
		<form  action='' method='post' enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				<label for="oldpassword">用户:</label>
				<input type="password" name="old_password" value="" id="old_password">
			</div>
			<div>
				<label for="new_password1">新密码:</label>
			    <input type="password" name="new_password1" value="" id="new_password1">
			</div>
				<div>
				<label for="new_password2">确认新密码:</label>
			    <input type="password" name="new_password2" value="" id="new_password2">
			</div>
			<div>
				<input id="loginsubmit" type="submit" value="登陆" />
			</div>
			<input type="hidden" name="next" value="{{ next|escape }}" />
		</form>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script  type="text/javascript" src="/static/userauthority/js/userauthority.js"></script>
{% endblock %}