{% extends "administrate/administrate_index_view.html" %}

{% block admin_styles %}
<!-- <link rel="stylesheet/less" href="/static/project/less/project_task.less" type="text/css" media="screen"/> -->
<!-- <link rel="stylesheet/less" href="/static/home/less/home.less" type="text/css" media="screen"/> -->
{% endblock %}


{% block admin_content %}
<div id="admin_device_sub_leftnav" class="sub_side_bar">
	
	{{ sub_nav_bar }}
	
</div>
<div id="admin_device_view" class="admin_device_view">
	
	{{ admin_device_webpart }}
	{{ admin_device_create }}
    
</div>

{% endblock %}

{% block admin_scripts %}

<script  type="text/javascript" src="/static/administrate/js/administrate_device.js"></script>

{% endblock %}