<div class="container-fluid">
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-head-nonbackground">
			<h2 class="panel-title">所有凭证</h2>
		</div>
		<div class="ci-panel-body-nonbackground">
		     {{ ci_credentials_form }}
		</div>
	</div>
    
    {% if is_create %}
	<div class="ci-panel-nonbackground">
		<div class="ci-panel-body-nonbackground">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					凭证<span class="badge">{{ ci_credentials|length }}</span>
				</div>
				<div class="panel-body">
				  <table class="table table-hover">
				  	<tbody class="container-fluid">
				  		{% for ci_credential in ci_credentials %}
				  		<tr class="row">
				  			<td class="col-sm-1" style="display: none" name="ci_credentialid">{{ ci_credential.ci_credential.id }}</td>
				  			<td class="col-sm-4">
				  				<span><i class="fa {{ ci_credential.Credential_type }} fa-fw"></i></span>
				  				<span><i class="fa {{ ci_credential.scope_name }} fa-fw"></i></span>
				  				<a href="/ci/settings/credentials/{{ ci_credential.ci_credential.id }}/edit_page">{{ ci_credential.ci_credential.UserName }}</a>
				  			</td>
				  			<td class="col-sm-6">
				  				<span >{{ ci_credential.ci_credential.Description|default_if_none:"" }}</span>
				  			</td>
				  			
				  			
				  			<td class="col-sm-1">
				  				<span class="cursor-hand" name="delete_credential">
				  					<i class="fa fa-trash-o fa-fw fa-lg" style="color:red"></i>
				  				</span>
				  			</td>
				  		</tr>
				  		{% endfor %}
				  	</tbody>
				  	
				  </table>
				</div>
			</div>
		
		</div>

	</div>
	{% endif %}
</div>