
	<div class="ci-panel-nonbackground dashboard_summary_window">
		<div class="ci-panel-head-nonbackground">
			<span class="panel-title">构建状态</span>
			<span class="hidden-md"  style="margin-left: 20px"> <i class="fa fa-circle" style="opacity: 0.6;font-size:2px;color:#32be77"></i> 在线</span>
			<span class="hidden-md"  style="margin-left: 20px"> <i class="fa fa-circle" style="opacity: 0.6;font-size:2px;"></i> 离线</span>
		</div>
		<div class="ci-panel-body-nonbackground" id="ci_dashboard_agent_container">
			{{ ci_build_status_listcontroll }}    
		</div>
		
		<div class="ci-panel-footer-nonbackground">
			<!-- <a class="pull-right" id="ci_view_more_agent"><i class="fa fa-hand-o-right fa-fw"></i>
			</a>  -->    
		</div>
	</div>