<div id="automobiledevice_create">
        <div class="automobiledevice_page_title">
        	<input type="button" value="返回" id='automobiledevice_create_backbutton' />
        	<h3>添加机器结点</h3>
       </div>
        <div>
            <form id="automobiledevice_create_form" action="/autotesting/automobiledevice/create">
                <table class="automobiledevice_create_table">
                    <tr>
                        <td>结点Label:</td>
                        <td><input type="text" id="automobiledevice_nameInput" name="AName" class="text-input" /></td>
                    </tr>
                    <tr>
                        <td>IP地址:</td>
                        <td><input type="text" id="automobiledevice_IPInput" name="AIP" class="text-input" /></td>
                    </tr>
                    <tr>
                        <td>操作系统:</td>
                        <td><div id="automobiledevice_OS_dropdownlist" name="AOS"></div></td>
                    </tr>
                    <tr>
                        <td>浏览器:</td>
                        <td><div id="automobiledevice_browsers_listbox" name="AAgentBrowser"></div></td>
                    </tr>
                     <tr>
                        <td>是否保留:</td>
                        <td><div id="automobiledevice_reserved_dropdownlist" name="AIsReserved"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><input type="button" value="保存" id="sendButton" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>