<div class="modal fade" id="newfortesting-popup-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document" style="position:fixed;left:25%;right:25%;bottom:30px;top:5px;">
		<div class="modal-content modal-dialog-form-middle" style="width:800px;height:100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{% if is_create %}
				<h4 class="modal-title" id="exampleModalLabel">创建提测</h4>
				{% else %}
				<center>
				    <span id="fortesting_view_part" class="cursor-hand fortesting_view_edit_active fortesting_view_edit_item" style="margin-right:10px;">浏览</span>
				    <span id="fortesting_edit_part" class="cursor-hand fortesting_view_edit_item">编辑</span>
                </center>
                {% endif %}
			</div>
			<div class="modal-body" style="overflow-y:scroll;height:80%;">
			    {{ formhtml }}
			</div>
			<div class="modal-footer" id="fortesting_dialog_footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" id="fortesting_close_button">
			取消
			</button>
			{% if is_create %}
			<button type="button" class="btn btn-success" id="fortesting_create_button">
			创建
			</button>
			{% else %}
			   <button type="button" class="btn btn-success" id="save_fortesting">
				保存
			</button>
			{% endif %}
			</div>
		</div>
	</div>
</div>
