<ul class="nav nav-stacked">
  
   {% for logger in loggers %}
   <li class="logcat_logger_item cursor-hand">
      <i name="logcat_logger_remove" style="display:none;color:#b3424a;" class="fa fa-remove"></i>
      <span style="width:220px;" id="{{ logger.logger.deviceId }}" pageindex="0" loggerId="{{ logger.logger.id }}"  title="{{ logger.logger.userAgent|default_if_none:'' }}">
      <i class="fa fa-fw fa-mobile fa-lg"></i>
      {{ logger.app_name|default_if_none:"" }}:{{ logger.logger.deviceName }}
      </soan>
   </li>

   {% endfor %}
</ul>
