
<div style="height:60px;">
  
</div>
 
<div class="left_sub_menu_container">
	<ul class="nav">
		<li id="admin_device_add">
				<a href="/administrate/device/create" class="button-inlist left_sub_menu_item">添加</a>
		</li>
		<li class="{{ page.all_active }}">
			<a  href="/administrate/device/all" class="left_sub_menu_item"><i class="fa fa-tree fa-fw pull-left"></i>所有设备</a>
		</li>
		<li class="{{ page.lending_active }}">
			<a  href="/administrate/device/lending" class="left_sub_menu_item"><i class="fa fa-trophy fa-fw pull-left"></i>出借设备</a>
		</li>
		<li class="{{ page.android_active }}">
			<a  href="/administrate/device/android" class="left_sub_menu_item"><i class="fa fa-android fa-fw pull-left"></i>Android</a>
		</li>
		
		<li class="{{ page.ios_active }}">
			<a  href="/administrate/device/ios" class="left_sub_menu_item"><i class="fa fa-apple fa-fw pull-left"></i>IOS</a>
		</li>
		
		<li class="{{ page.other_active }}">
			<a  href="/administrate/device/other" class="left_sub_menu_item"><i class="fa fa-glass fa-fw pull-left"></i>其他</a>
		</li>
	</ul>
</div>