<div class="container-fluid">
	<div class="admin-panel-nonbackground">
		<div class="admin-panel-head-nonbackground">
			<h3 class="panel-title">系统角色 <span class="badge">{{ roles|length }}</span></h3>
		</div>
		<div class="admin-panel-body-nonbackground">
			<div class="input-group usergroup_version_create_input">
				<span class="input-group-addon"><i class="fa fa-cog "></i></span>
				<input type="text" class="form-control" id="usergroup_name" placeholder="添加一个系统角色(回车完成添加)">
				<span class="input-group-addon" name="usergroup_create_group"><a ><i class="fa fa-arrow-right fa-fw"></i></a></span>
			</div>
			<div id="user_group_list">
				{{ system_role_list_controll }}
			</div>		     
		</div>
	</div>
</div>