<div class="modal fade" id="webapp-create-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content modal-dialog-form-middle">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">添加工具</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="home_webapp_create_form">
					<div class="form-group">
						<label for="app_title" class="col-sm-2 control-label">工具名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="app_title" name="app_title" placeholder="6-20个字符" {{ page.is_edit }} value="{{ webapp.app_title }}" >
						</div>
					</div>
					<div class="form-group" >
						<label for="app_key" class="col-sm-2 control-label">工具Key</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control" id="app_key" name="app_key" placeholder="3-10个字母" {{ page.is_edit }}  value="{{ webapp.app_key }}" >
						</div>
					</div>

					<div class="form-group">
						<label for="app_url" class="col-sm-2 control-label">工具Url</label>
						<div class="col-sm-10">
							<input  type="text" class="form-control" id="app_url" name="app_url" placeholder="http://tool.com(请以http开头)" value="{{ webapp.app_url|default_if_none:"" }}" >
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="webapp_close_button">
					取消
				</button>
				<button type="button" class="btn btn-success" id="webapp_create_button">
					创建
				</button>
			</div>
		</div>
	</div>
</div>
