<div>
	<div class="project-setting-panel-nonbackground">
		<div class="project-setting-panel-head-nonbackground">
			项目成员
			{% project_manager_required project_id %}
			<div class="pull-right" style="padding-right:150px;">
				<div class="nic-circle-30-green pull-right" style="margin-right:5px;margin-top:-5px;margin-right:50px;">
		        <span id="portal_toolbar_add_project" name="project-add-member" class="nic-content-30-white cursor-hand">
		          <i class="fa fa-plus fa-fw"></i>
		        </span>
		        </div>
			</div>
			{% end_project_manager %}
		</div>

		<div class="project-setting-panel-body-nonbackground">
				<div class="container-fluid" id="project_member_list" style="max-height: 750px;min-height:300px;overflow-y:  scroll;">
					{{ member_list }}
				</div>
		</div>
	</div>
</div>
