<div  id="ci_task_container" style="border-left:1px solid #f0f0f0;">

	<div style="height:35px;">
		<span class="cursor-hand" id="close_task_parameter_edit_webpart"><i class="fa fa-close fa-fw pull-right"></i></span>
	</div>

	<form class="form-horizontal" id="task_parameter_group_form">
		<div class="task_parameter_view_panel"><i class="fa fa-info-circle fa-fw fa-lg"></i>基本信息</div>
		<div name="editor_header" style="padding-top:10px;">
            <div class="form-group">
                <label for="group_name" class="col-sm-2 control-label" >ID:</label>
                <div class="col-sm-8">
                    <label for="group_name" class="col-sm-8 control-label" >{{ task_parameter_group.parameter_group.id }}</label>
                </div>
            </div>
			<div class="form-group">
				<label for="group_name" class="col-sm-2 control-label" >参数组:</label>
				<div class="col-sm-8">
					<input type="hidden" name="group_id" value="{{ task_parameter_group.parameter_group.id }}" >
					<input type="text" class="form-control input-md input-2-label display-input"  name="group_name" value="{{ task_parameter_group.parameter_group.group_name }}" >
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label" >描述:</label>
				<div class="col-sm-8">
					<textarea rows="2" class="form-control input-md input-2-label display-input "  name="group_description">{{ task_parameter_group.parameter_group.description|default_if_none:"" }}</textarea>
				</div>

			</div>
			
			
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label" >插件设置:</label>
				<div class="col-sm-2 cursor-hand">
					{% if task_parameter_group.parameter_group.enable_plugin_settings %} 
					<i  id="parameter_group_enable_plugin_setting"  class="fa fa-toggle-on fa-fw fa-2x" style="color:#32be77;" isdefault={{ task_parameter_group.parameter_group.enable_plugin_settings }}></i> 
					{% else %} 
					<i id="parameter_group_enable_plugin_setting" class="fa fa-toggle-off fa-fw fa-2x" style="color:gray;" isdefault={{ task_parameter_group.parameter_group.enable_plugin_settings }}></i> 
					{% endif %}
					<input type="hidden" name="enable_plugin_settings" id="enable_plugin_settings" value="{{ task_parameter_group.parameter_group.enable_plugin_settings }}" />
				</div>

			</div>
			
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label" >默认:</label>
				<div class="col-sm-2 cursor-hand">
					{% if task_parameter_group.parameter_group.is_default %} 
					<i  id="task_parameter_group_default"  class="fa fa-toggle-on fa-fw fa-2x" style="color:#32be77;" isdefault={{ task_parameter_group.parameter_group.is_default }}></i> {% else %} <i id="task_parameter_group_default" class="fa fa-toggle-off fa-fw fa-2x" style="color:gray;" isdefault={{ task_parameter_group.parameter_group.is_default }}></i> 
					{% endif %}
					<input type="hidden" name="group_is_default" id="group_is_default" value="{{ task_parameter_group.parameter_group.is_default }}" />
				</div>

			</div>
			<div class="form-group">
				<label for="group_type" class="col-sm-2 control-label" >类型:</label>
				<div class="col-sm-8">
				   <input name="group_type" class="form-control" type="hidden" value="{{ task_parameter_group.parameter_group.group_type }}" />
				   <label  name="group_type" value="{{ task_parameter_group.parameter_group.group_type }}" class="">{{ task_parameter_group.group_type_name }}</label>
				</div>
			</div>


		</div>

        <div class="task_parameter_view_panel"><i class="fa fa-sun-o fa-fw fa-lg"></i>参数列表</div>
		<div name="editor_body">
			<div style="height:35px;margin:10px 20px 0px;">
				<div class="parameter-edit-split-line"></div>
				<div class="form-group pull-right" style="margin-top:0px;">
					<div class="col-sm-10 col-sm-offset-1">
						<span id="add_task_parameter" class="cursor-hand small_green_radius_button" style="height:20px!important; padding-top:2px!important;"><i class="fa fa-plus fa-fw"></i>参数</span>
					</div>
				</div>
			</div>

			<div id="task_parameter_value_container">
				{% for parameter in task_parameter_group.parameter_group.parameters %}
				<div  class="cursor-hand parameter-value-container" name="parameter_value">
					<span class="pull-right" style="margin-top:-15px;margin-right:20px;">
					   <i name="parameter_lock" class="fa fa-lock fa-fw fa-lg" style="display:none;"></i>
					   <i name="parameter_delete" class="fa fa-trash-o fa-fw fa-lg" style="color:red"></i>
					</span>
					<div class="form-group">
						<label for="key" class="col-sm-3 control-label">名称:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control input-md input-2-label display-input"  name="key" placeholder="参数名称" value="{{ parameter.key|default_if_none:"" }}">
						</div>
					</div>
					<div class="form-group">
						<label for="value" class="col-sm-3 control-label">值:</label>
						<div class="col-sm-9">
							<textarea type="text" class="form-control input-2-label display-input" rows="2"  name="value" >{{ parameter.value|default_if_none:"" }}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-3 control-label">描述:</label>
						<div class="col-sm-9">
							<textarea type="text" class="form-control input-2-label display-input" rows="2"  name="description">{{ parameter.description|default_if_none:"" }}</textarea>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
        <div  name="editor_pluginlist" class="task_parameter_view_panel"><i class="fa fa-cog fa-fw fa-lg"></i>插件列表</div>
        <div style="padding-top:20px; ">
            {{ task_plugin_list }}
        </div>
	</form>
	<div name="editor_footer">
			<div class="form-group" style="position: fixed;bottom:30px; margin-left:0px;">
				<div class="col-sm-10 col-sm-offset-1">
					<span id="save_task_parameter" class="cursor-hand small_green_radius_button">保存</span>
				</div>
			</div>
		</div>
</div>