<div class="modal fade" id="issue-query-save-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-md" role="document" style="position:fixed;left:20%;right:25%;bottom:30px;top:100px;">
		<div class="modal-content modal-dialog-form-middle" style="height:250px;border-radius:0px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">保存筛选</h4>
			</div>
			<div class="modal-body" style="overflow-y:scroll;height:140px;">
			 <div class="form-group">
			     <input type="hidden" id="query_id" value="{{ filter_id }}" >
			     <label for="QueryName" class="col-sm-2 control-label">筛选名称：</label>
		         <div class="col-sm-10">
			        <input type="text" class="form-control" id="IssueQueryTitle" name="IssueQueryTitle" placeholder="筛选器名称"  value="{{ filter_name| default_if_none:'' }}" />
		         </div>
		      </div>
		      {% if filter_id != "0" %}
		      <div class="form-group" style="margin-top:60px;">
			     <label for="saveas" class="col-sm-2 control-label">另存为：</label>
		         <div class="col-sm-10">
			        <input type="checkbox" class="" id="issue_filter_save_as" name="issue_filter_save_as" />
		         </div>
		      </div>
		      {% endif %}
		      

			</div>
			<div class="modal-footer" id="issue_dialog_footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" id="issue_query_close_button">
			取消
			</button>
			<button type="button" class="btn btn-success" id="issue_query_create_button">
			保存
			</button>
			</div>
		</div>
	</div>
</div>