<div class="modal fade" id="issue-attachment-viewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <input type="hidden" id="issue_id" value="{{ issue_id }}"/>
	<div class="modal-dialog modal-lg" id="isue-attachment-viewer-dialog" role="document" style="position:fixed;left:5%;right:5%;bottom:30px;top:50px;">
		<div class="modal-content modal-dialog-form-middle" style="height:100%;border-radius:0px;">
			<div class="modal-body" style="overflow-y:scroll;height:100%">
                 <div style="margin-left:auto;margin-right:auto;">
                     {% if file_type == 1 %}
                     <img alt="" src="/project/issue/download/{{ file_id }}">
                     {% endif %}
                     {% if file_type == 2 %}
                     <video src="/project/issue/download/{{ file_id }}" controls="controls">
                     </video>
                     {% endif %}
                     
                     {% if file_type == 0 %}
                        <center>
                          <span>
                           不支持查看该类型文件，请下载后查看。
                         </span>
                        </center>
      
                     {% endif %}
                 </div>
			</div>
		</div>
	</div>
</div>
 