
<div class="fortesting_view_content_container">
<input type="hidden" value="{{ fortesting.fortesting.id }}" id="fortesting_id" />
<div class="fortesting_view_content cursor-hand" result_type="0">
	<span class="fortesting_view_content_title">提测信息</span> 
	<div class="fortesting_view_summary_item">版本:{{ fortesting.version }}</div>
	<div class="fortesting_view_summary_item">时间:{{ fortesting.commitor_date }}</div>
	<div class="fortesting_view_summary_item">人员:{{ fortesting.commitor_name }}</div>
</div>
<div class="fortesting_view_content cursor-hand" result_type="3">
	<span class="fortesting_view_content_title">测试时间</span>
	<div class="fortesting_view_summary_item">开始:{{ fortesting.testing_start_date }}</div>
	<div class="fortesting_view_summary_item">完成:{{ fortesting.testing_finished_date }}</div>
	<div class="fortesting_view_summary_item">截止:{{ fortesting.testing_deadline }}</div>
</div>
<div class="fortesting_view_content cursor-hand" result_type="2">
	<span class="fortesting_view_content_title">测试人员</span>
	<span class="nic-circle-30-green" style="margin-left:10px;margin-top:5px;">
		 <span id="add_new_tester" class="nic-content-30-white cursor-hand"><i class="fa fa-plus fa-fw"></i></span>
		 {{ member_menu }}  
    </span>
    {% for tester in fortesting.fortesting_testers  %}
	<span style="margin:2px;" labelid="{{  tester.member.id }}">
	   <img src="{{ tester.member_avatar }}" style="width:30px;height:30px;" class="img-circle" title="{{ tester.member_name }}">
	</span>
	{% endfor %}
</div>
</div>


<div style="margin: 10px 15px 10px 0px;">
				<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>提测主题</span>
</div>
<div class="fortesting_view_content_container" >
	 <div class="fortesting_content_detail">
	     <div class="fortesting_view_detail_item">{{ fortesting.topic|safe }}</div>
	 </div>
</div>


<div style="margin: 10px 15px 10px 0px;">
				<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>提测内容</span>
</div>
<div class="fortesting_view_content_container" >
	 <div class="fortesting_content_detail">
	     <div class="fortesting_view_detail_item">{{ fortesting.fortesting.TestingFeature|safe }}</div>
	 </div>
</div>
<div style="margin: 10px 15px 10px 0px;">
				<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>测试建议</span>
</div>
<div class="fortesting_view_content_container">
	 <div class="fortesting_content_detail">
	      <div class="fortesting_view_detail_item">{{ fortesting.fortesting.TestingAdvice|safe }}</div>
	 </div>
</div>

{% if fortesting.has_code_resp %}
<div style="margin: 10px 15px 10px 0px;">
				<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>代码地址</span>
</div>
<div class="fortesting_view_content_container">
	 <div class="fortesting_content_detail">
	     <div class="fortesting_view_detail_item">{{ fortesting.code_resp }}@{{ fortesting.code_branch }}</div>
	 </div>
</div>
{% endif %}

{% if fortesting.has_attachments %}
<div style="margin: 10px 15px 10px 0px;">
				<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>附件</span>
</div>
<div class="fortesting_attachment_container">

      {% for attachment in fortesting.fortesting_attachments %}
      
      <div class="fortesting_attachment_item ">
      <div style="height:100px; padding-top:10px;">
          <center>{{ attachment.file_size }}</center>
          <center style="overflow:hidden; padding:5px;" title="{{ attachment.file.FileName }}">
          <a href="/project/fortesting/download_attachment/{{ attachment.file.id }}" style="color:#555;">
          {{ attachment.file.FileName }}</a>
          </center>
      </div>
      <div class="fortesting_attachment_item_title" name="fortesting_attachment_delete" file_id={{ attachment.file.id }}>
          <center><i class="fa fa-trash-o fa-fw"></i></center>
      </div>
      
	  </div>
      
      {% endfor %}
</div>
{% endif %}

<!-- <div style="margin: 10px 15px 10px 0px;">
				<span><i class="fa fa-fw fa-bandcamp fa-lg"></i>测试信息</span>
</div>
			<div class="fortesting_view_content_container" >
				<input type="hidden" value="{{ auto_task_result.TaskHistoryID }}" id="analytics_auto_task_history_id" />
<div class="fortesting_view_content cursor-hand" result_type="0">
	<span class="fortesting_view_content_title">开始时间</span> 
	<span class="ci_testing_history_analytics_content status-default">{{ auto_task_result.Total|default_if_none:0 }}</span>
</div>
<div class="fortesting_view_content cursor-hand" result_type="3">
	<span class="fortesting_view_content_title">截止时间:</span>
	 <span style="" class="ci_testing_history_analytics_content status-success">{{ auto_task_result.Pass|default_if_none:0 }}</span>
</div>
<div class="fortesting_view_content cursor-hand" result_type="2">
	<span class="fortesting_view_content_title">参与人员:</span> <span
		class="ci_testing_history_analytics_content status-fail">{{ auto_task_result.Fail|default_if_none:0 }}</span>
</div>
</div> -->
