
		<div id="dashboard_activity_window" class="page-panel-default" style="margin-left:0px;">
			<div class="page-panel-head-default">
				动态
			</div>
			<div>
				<div class="page-panel-body-default" style="padding-right:0px;margin-right:0px;">
					<ul class="nav nav-tabs" role="tablist" id="project-activities" >
						<li role="presentation" class="active" id="home_dashboard_all_activity_tab">
							<a href="#all" aria-controls="project" role="tab" data-toggle="tab">项目动态</a>
						</li>
						<li role="presentation" id="home_dashboard_device_activity_tab">
							<a href="#device" aria-controls="project" role="tab" data-toggle="tab">设备动态</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content" style="overflow-y:scroll;">
						<div role="tabpanel" class="tab-pane fade in active" id="all">
							<div class="container-fluid doraemon-activity" id="home_dashboard_activites">

								{{ all_activity_webpart }}

							</div>

						</div>
                        
                        <div role="tabpanel" class="tab-pane" id="device">
							<div class="container-fluid doraemon-activity" id="home_dashboard_device_activites">
								{{ device_activity_webpart }}
							</div>

						</div>

					</div>
				</div>
				<div class="page-panel-body-default">
					<a id="home_dashbaord_more_activites">查看更多动态</a>
				</div>
			</div>
		</div>
	</div>
