 <div id='issue_context_menu' style="background-color:white!important;width:200px;">
                <ul>
                    <li style="padding:5px 5px 5px 15px"><i class="fa fa-eye fa-fw pull-left">&nbsp;</i>
                    <span style="padding-left:15px;">解决问题</span>
                    </li>
                    
                     <li style="padding:5px 5px 5px 15px"><i class="fa fa-cube fa-fw pull-left">&nbsp;</i>
                    <span  style="padding-left:15px;">关闭问题</span>
                        
                    </li>
                    
                     <li style="padding:5px 5px 5px 15px"><i class="fa fa-bookmark fa-fw pull-left">&nbsp;</i>
                    <span  style="padding-left:15px;">重新打开</span>
                        
                    </li>
                </ul>
</div>