<div class="container-fluid">
	<div class="ucenter-panel-nonbackground">
		<div class="ucenter-panel-head-nonbackground">
			<h2 class="panel-title">个人信息</h2>
		</div>
		<div class="ucenter-panel-body-nonbackground">
			<form class="form-horizontal" id="user_info_form">	
				<div class="form-group">
					<input type="hidden" id="user_id" value="{{ account.user.id }}" />
					<label for="PBTitle" class="col-sm-1 control-label">头像</label>
					<div class="col-sm-10">
						<a href="/ucenter/{{ account.user.id }}/account/avatar">
							<i class="fa fa-pencil-square fa-fw" style="color:gray"></i><img id="user_avatar" src="{{ account.avatar_url }}" class="img-circle" style="width:80px;height:80px; float:left" />
						</a>
					</div>
			 </div>
				<div class="form-group" >
					<label for="last_name" class="col-sm-1 control-label">姓氏</label>
					<div class="col-sm-3">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
							<input type="text" class="form-control input-md"  name="last_name" id="last_name" placeholder="姓氏" value="{{ account.user.last_name|default_if_none:"" }}">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="first_name" class="col-sm-1 control-label">名字</label>
					<div class="col-sm-3">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
							<input type="text" class="form-control input-md"  name="first_name" id="first_name" placeholder="名字" value="{{ account.user.first_name|default_if_none:"" }}">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="emali" class="col-sm-1 control-label">邮箱</label>
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
							<input type="email" class="form-control input-md"  name="email" id="email" placeholder="Email" value="{{ account.user.email|default_if_none:"" }}">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<button type="button" class="btn btn-success" id="save_user_info">
							保存
						</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>
