<div class="container-fluid">
	<div class="ucenter-panel-nonbackground">
		<div class="ucenter-panel-head-nonbackground">
			<h2 class="panel-title">修改头像</h2>
		</div>
		<div class="ucenter-panel-body-nonbackground row">
			<div style="position:fixed;width:240px;">
				<form class="form-horizontal" id="user_avatar_form">
					<div class="form-group">
						<input type="hidden" id="user_id" value="{{ account.user.id }}" />
						<label for="PBTitle" class="col-sm-1 control-label">当前头像</label>
						<div class="col-sm-10">
							<a><img id="user_avatar" src="{{ account.avatar_url }}" class="img-rounded" style="width:150px;height:150px; float:left" /> </a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<a class="green_radius_button" id="save_user_avatar" href="/ucenter/{{ account.user.id }}/account/basic"> 保存 </a>
						</div>
						<div class="col-sm-offset-1 col-sm-10">
							<a id="back_to_basicpage" href="/ucenter/{{ account.user.id }}/account/basic" style="color:#444;padding-left:45px;"> 取消 </a>
						</div>
					</div>
				</form>
			</div>

			<div  style="width:600px;margin-left:240px;">
				<form class="form-horizontal" id="user_avatar_form" method="POST" action="/ucenter/{{ account.user.id }}/account/upload_avatar" enctype="multipart/form-data">
					<div class="form-group">
						<input type="hidden" id="user_id" value="{{ account.user.id }}" />
						<div class="col-sm-10">
							<span class="avatar_upload"> <span class="avatar_upload_span"> <i class="fa fa-cloud-upload fa-fw"></i>上传头像 
						    <p style="margin-left:80px; margin-top:10px;color:red">
						      {% if form_error %}
						        
						        {{ form_error }}
						         
						      {% endif %}
						   	
						   </p>
								</span>
								<input type="file" class="avatar_upload_input" name="avatar_file" accept="image/png,image/jpeg,image/gif" />
							</span>
							<button type="submit" class="btn btn-success" id="upload_user_avatar" style="opacity:0">
								上传
							</button>
						</div>
					</div>

				</form>

				<div class="ucenter-panel-nonbackground" style="margin-top:-30px;">
					<div class="ucenter-panel-head-nonbackground">
						<h2 class="panel-title">使用系统头像</h2>
					</div>
					<div class="ucenter-panel-body-nonbackground">
						<div>
							{% for i in ststem_avatar_counts %}
							<span>
								<a href="#"><img  name="system_user_avatar"  src="/static/global/images/fruit-avatar/Fruit-{{ i }}.png" class="img-thumbnail" style="width:80px; height:80px;margin:5px 2px 5px 3px" /></a>
							</span>
							{% endfor %}
							
													</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
