<div  class="cursor-hand parameter-value-container" name="parameter_value">
	<span class="pull-right" style="margin-top:-15px;">
	<i name="parameter_lock" class="fa fa-lock fa-fw fa-lg" style="display:none;"></i>
	<i name="parameter_delete" class="fa fa-trash-o fa-fw fa-lg" style="color:red"></i>
	</span>
	
	<div class="form-group">
		<label for="key" class="col-sm-3 control-label">名称:</label>
		<div class="col-sm-9">
			<input type="text" class="form-control input-md display-input "  name="key" placeholder="参数名称" value="{{ parameter.key|default_if_none:"" }}">
		</div>
	</div>
	<div class="form-group">
		<label for="value" class="col-sm-3 control-label">值:</label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control display-input" rows="2"  name="value" >{{ parameter.value|default_if_none:"" }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-3 control-label">描述:</label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control display-input" rows="2"  name="description">{{ parameter.description|default_if_none:"" }}</textarea>
		</div>
	</div>
</div>