{% for plugin in plugin_list %}
<div class="col-sm-12" style="height:50px;padding-left:40px;">
   <div class="row">
   <input name="plugin_is_enable" type="hidden" value="{{ plugin.is_enable_key }}"/>
   <span class="pull-left" style="width:30px;"><i class="fa fa-square fa-fw fa-lg" style="color:{{ plugin.PluginLabelColor  }}"></i></span>
   <span class="col-sm-3" >{{ plugin.PluginName  }}</span>
   <span class="col-sm-5" >{{ plugin.plugin_using_name  }}</span>
   <span class="col-sm-2" style="display:inline-block;cursor:pointer"> 
			{% if plugin.is_enable == 'On' %} 
			<i  name="task_parameter_group_plugin_is_enable"  class="fa fa-toggle-on fa-fw fa-lg" style="color:#32be77;" is_enable="{{ plugin.is_enable }}"></i> 
			{% else %} 
			<i name="task_parameter_group_plugin_is_enable" class="fa fa-toggle-off fa-fw fa-lg" style="color:gray" is_enable="{{ plugin.is_enable }}"></i> 
			{% endif %} 
  </span>
  </div>
</div>
{% endfor %}