{% for group in ci_task_parameter_groups %}
{% if group.parameter_group.group_type == 1 %}
   {% project_admin_required  task.Project %}
<div  class="ci_task_listview_item container-fluid cursor-hand" name="task_parameter_group_row">
	<div class="row">
		<div class="col-lg-8 col-sm-6">
			<div class="ci_task_listview_item_title row">
				<span class="col-sm-12"><i class="fa fa-lightbulb-o fa-fw fa-lg"></i>{{ group.group_type_name }}_{{ group.parameter_group.group_name }} </span>
			</div>
			<div class="ci_task_listview_item_content row">
				<span style="display: none"> <span name="task_parameter_id">{{ group.parameter_group.id }}</span> </span>
				<span class="col-sm-12">
					 <span>
					<i class="fa fa-info-circle fa-fw"></i>描述: {{ group.parameter_group.description|default_if_none:"" }}
				</span>
			    </span>
			</div>

		</div>
		<div class="col-lg-2 col-sm-3">
			<span class="col-sm-12" style="margin-top:30px;display:inline-block;cursor:pointer"> 
			{% if group.parameter_group.is_default %} 
			<i  name="task_parameter_group_default"  class="fa fa-toggle-on fa-fw fa-lg" style="color:#32be77;" isdefault={{ group.parameter_group.is_default }}></i> 
			{% else %} 
			<i name="task_parameter_group_default" class="fa fa-toggle-off fa-fw fa-lg" style="color:gray" isdefault={{ group.parameter_group.is_default }}></i> 
			{% endif %} 
		</span>
		</div>
		<div class="col-lg-2 col-sm-3 cursor-hand" style="line-height:1.5em;">
			<span style="margin-top:30px;display:inline-block;cursor:pointer" name="copy_parameter_group"> <i class="fa fa-copy fa-fw fa-lg" style="color:green;"></i> </span>
			<span style="margin-top:30px;display:inline-block;cursor:pointer" name="delete_parameter_group"> <i class="fa fa-trash-o fa-fw fa-lg" style="color:red;"></i> </span>
		</div>

	</div>
</div>
  
   {% end_project_admin %}
{% else %}
  
   <div  class="ci_task_listview_item container-fluid cursor-hand" name="task_parameter_group_row">
	<div class="row">
		<div class="col-lg-8 col-sm-6">
			<div class="ci_task_listview_item_title row">
				<span class="col-sm-12"><i class="fa fa-lightbulb-o fa-fw fa-lg"></i>{{ group.group_type_name }}_{{ group.parameter_group.group_name }} </span>
			</div>
			<div class="ci_task_listview_item_content row">
				<span style="display: none"> <span name="task_parameter_id">{{ group.parameter_group.id }}</span> </span>
				<span class="col-sm-12">
					 <span>
					<i class="fa fa-info-circle fa-fw"></i>描述: {{ group.parameter_group.description|default_if_none:"" }}
				</span>
			    </span>
			</div>

		</div>
		<div class="col-lg-2 col-sm-3">
			<span class="col-sm-12" style="margin-top:30px;display:inline-block;cursor:pointer"> 
			{% if group.parameter_group.is_default %} 
			<i  name="task_parameter_group_default"  class="fa fa-toggle-on fa-fw fa-lg" style="color:#32be77;" isdefault={{ group.parameter_group.is_default }}></i> 
			{% else %} 
			<i name="task_parameter_group_default" class="fa fa-toggle-off fa-fw fa-lg" style="color:gray" isdefault={{ group.parameter_group.is_default }}></i> 
			{% endif %} 
		</span>
		</div>
		<div class="col-lg-2 col-sm-3 cursor-hand" style="line-height:1.5em;">
			<span style="margin-top:30px;display:inline-block;cursor:pointer" name="copy_parameter_group"> <i class="fa fa-copy fa-fw fa-lg" style="color:green;"></i> </span>
			<span style="margin-top:30px;display:inline-block;cursor:pointer" name="delete_parameter_group"> <i class="fa fa-trash-o fa-fw fa-lg" style="color:red;"></i> </span>
		</div>

	</div>
</div>
 
{% endif %}
{% endfor %}
