<div class="container-fluid">
	<div class="ucenter-panel-nonbackground">
		<div class="ucenter-panel-head-nonbackground">
			<h2 class="panel-title">密码修改</h2>
		</div>
		<div class="ucenter-panel-body-nonbackground">
			
			<form class="form-horizontal" id="user_password_form">
	<div class="form-group" >
		<label for="old_password" class="col-sm-1 control-label">旧密码</label>
		<div class="col-sm-3">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input type="password" class="form-control input-md"  name="old_password" id="old_password" placeholder="当前密码" >
				</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="new_password" class="col-sm-1 control-label">新密码</label>
		<div class="col-sm-3">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input type="password" class="form-control input-md"  name="new_password" id="new_password" placeholder="新密码">
				</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="confirm_password" class="col-sm-1 control-label">新密码确认</label>
		<div class="col-sm-3">
			<div class="input-group">
				 <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input type="password" class="form-control input-md"  name="confirm_password" id="confirm_password" placeholder="再次输入新密码" >
				</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<a  class="green_radius_button" id="save_password">
				保存
			</a>
		</div>
	</div>
	
</form>
			
		</div>
	</div>
</div>
