<div>
	<form class="form-horizontal" id="ci_task_config_basic_form">
		<div class="form-group">
			<label for="TaskName" class="col-sm-2 control-label">任务名称</label>
			<div class="col-sm-6">
				<input type="hidden" id="ci_task_id" name="id" value="{{ task.ci_task.id }}" />
				<input type="text" class="form-control" id="ci_task_name" name="TaskName"  value="{{ task.ci_task.TaskName }}" >
			</div>
		</div>
		<div class="form-group" >
			<label for="PBKey" class="col-sm-2 control-label">项目</label>
			<div class="col-sm-2">
				<select name="ci_task_project">
					{{ ci_task_project }}
				</select>
			</div>
		</div>
		
		<div class="form-group">
		<label for="HistoryCleanStrategy" class="col-sm-2 control-label">构建保留个数</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="history_clean_strategy" name="HistoryCleanStrategy" placeholder="默认保留最近10个以及有标签的记录" value="{{ task.ci_task.HistoryCleanStrategy }}" >
		</div>
	</div>

		<div class="form-group">
			<label for="Decsription" class="col-sm-2 control-label">描述</label>
			<div class="col-sm-6">
				<textarea   class="form-control" id="ci_task_description" name="Description" placeholder="CI 任务" rows="5">{{ task.ci_task.Description|default_if_none:"" }}</textarea>
			</div>
		</div>

		<div class="form-group">
			<label for="agent_filter" class="col-sm-2 control-label">Agent选择</label>
			<div class="col-sm-offset-2 col-sm-10">
				<div class="radio">
					<label>
						<input type="radio" name="agent_filter_type" id="ci_task_agent_filter" value="2" {{ basic_section.is_agent_filter }} aria-describedby="option_filter">
						<i class="fa fa-shield fa-fw fa-lg"></i>条件过滤 
						<span id="option_filter" class="help-block">
							 <select id="ci_agent_condations" name="agent_condations">
                                {{ ci_agent_filter_condations }}
                             </select>
				        </span>
				        </label>
				</div>

				<div class="radio">
					<label>
						<input type="radio" name="agent_filter_type" id="ci_task_agent_select" value="1"  {{ basic_section.is_agent_asgin }}  aria-describedby="option_select">
						<i class="fa fa-lock fa-fw fa-lg"></i> 指定机器 
						<span id="option_select" class="help-block">
							<select id="ci_agent" name="ci_agent_select">
								{{ ci_agent_list }}
							</select> 
						</span>
					</label>
				</div>

			</div>
		</div>

		<div class="form-group">
			<label for="ci_task_trigger" class="col-sm-2 control-label">执行触发</label>
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="ci_task_trigger" id="ci_task_trigger_timer"  {{ basic_section.is_time_trigger }}  aria-describedby="option_timer">
						<i class="fa fa-lock fa-fw fa-lg"></i> 定期运行 
						<span id="option_timer" class="help-block">
							<input type="text" class="form-control" id="time_trigger" name="time_trigger" placeholder="00:09:12/**:*9:**"  value="{{ basic_section.get_schedule_rule }}" >
							</span></label>
				</div>

				<!-- <div class="checkbox">
					<label>
						<input type="checkbox" name="PBVisiableLevel" id="optionsRadios2" value="2" {{ page.internal }} aria-describedby="option_internal">
						<i class="fa fa-shield fa-fw fa-lg"></i> SCM触发 <span id="option_internal" class="help-block">
							<input type="text" class="form-control" id="project_title" name="PBTitle" placeholder="输入时间规则" {{ page.is_edit }} value="{{ page.project.PBTitle }}" ></span></label>
				</div> -->
			</div>
		</div>
		
       
{#    {% if task.ci_task.TaskType == 5 %} #}
{#		<div class="form-group">#}
{#						<label for="DeployService" class="col-sm-2 control-label">服务</label>#}
{#						<div class="col-sm-offset-2 col-sm-10">#}
{#						<select name="DeployService">#}
{#							{{ ci_deploy_services }}#}
{#						</select>#}
{#					</div>#}
{#	   </div>#}
{#	{% endif %}#}
	
	
	</form>
</div>