<div id="autotestconfig_create">
        <div class="autotestconfig_page_title">
        	<input type="button" value="返回" id='autotestconfig_create_backbutton' />
        	<h3>编辑测试配置</h3>
       </div>
        <div>
            <form id="autotestconfig_create_form" action="/autotesting/autotestconfig/create">
                <table class="autotestconfig_create_table">
                    <tr>
                        <td>配置名称:</td>
                        <td><input type="text" id="autotestconfig_nameInput" name="TCFName" class="text-input" /></td>
                    </tr>
                    <tr>
                        <td>项目:</td>
                        <td><div id="autotestconfig_projectcombo" name="TCFProject"></div></td>
                    </tr>
                    <tr>
                        <td>项目版本:</td>
                        <td><div id="autotestconfig_projectversioncombo" name="TCFProjectVersion" ></div></td>
                    </tr>
                    <tr>
                        <td>代码地址:</td>
                        <td><input type="text" id="autotestconfig_codeURLInput" name="TCFCodeURL" class="text-input" /></td>
                    </tr>
                    <tr>
                        <td>任务类型:</td>
                        <td><div id="autotestconfig_tasktypedropdownlist" name="TCFTaskTpye"></div></td>
                    </tr>
                    <tr id="autotestconfig_os" class="autotestconfig_opionalfield">
                        <td>操作系统:</td>
                        <td><div id="autotestconfig_OSdropdownlist" name="TCFOS"></div></td>
                    </tr>
                    
                    <tr id="autotestconfig_osversion" class="autotestconfig_opionalfield">
                        <td>系统版本:</td>
                        <td><div id="autotestconfig_OSVersiondropdownlist" name="TCFOSVersion"></div></td>
                    </tr>
                    
                    <tr id="autotestconfig_browser" class="autotestconfig_opionalfield">
                        <td>浏览器:</td>
                        <td><div id="autotestconfig_browser_dropdownlist" name="TCFBrowser"></div></td>
                    </tr>
                    <tr id="autotestconfig_testingenv" class="autotestconfig_opionalfield">
                        <td>测试环境</td>
                        <td><div id="autotestconfig_testingenv__dropdownlist" name="TCFTestingEnv"></div></td>
                    </tr>
                    <tr>
                        <td>触发时间</td>
                        <td><input type="text" id="autotestconfig_runtiming_input" name="TCFRunTiming" class="text-input" /></td>
                    </tr>
                    <tr>
                        <td>拆分任务</td>
                        <td><div id="autotestconfig_splittask_dropdownlist" name="TCFIsSplit"></div></td>
                    </tr>
                    <tr>
                        <td>可见范围:</td>
                        <td><div id="autotestconfig_viewscope_dropdownlist" name="TCFViewScope"></div></td>
                    </tr>
                     <tr>
                    	<td>
                    		<input type="button" value="高级" id="autotestconfig_advance_button" />
                    	</td>
                    </tr>
          
                    <tr class="autotestconfig_advance">
                    		<td>执行插件:</td>
                            <td><div id="autotestconfig_driver_dropdownlist" name="TCFExecuteDriver"></div></td>
                    </tr>
                    <tr class="autotestconfig_advance">
                    		<td>执行插件参数:</td>
                            <td><textarea id="autotestconfig_driverargs_testarea" name="TCFDriverArgs"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><input type="button" value="保存" id="sendButton" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>