{% extends "home/home_index_view.html" %}

{% block home_styles %}

<!-- <link rel="stylesheet/less" href="/static/project/less/project.less" type="text/css" media="screen"/> -->

{% endblock %}

{% block home_content %}
<div id="home_fortesting_view" class="home_fortesting_view">
	{{ issue_webpart }}
</div>


{% endblock %}

{% block home_scripts %}

<script  type="text/javascript" src="/static/project/js/project_issue.js"></script>
<script  type="text/javascript" src="/static/home/js/home_issue.js"></script>
{% endblock %}