{% for agent in ci_agents %}
<div  class="ci_dashboard_build_status_listview_item container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="ci_dashboard_build_status_listview_item_title row">
				<span class="col-sm-12"> <i class="fa fa-fw fa-lg {{agent.agent_os }}" style="color:{{ agent.agent_status_color }}" name="ci-agent-check"></i> 
				     <span  name="ci-agent_title" >{{ agent.ci_agent.Name }}</span> 
				 {% for tag in agent.agent_tags %} 
              
				   <span class='label label-default visible-lg-inline-block ' labelid="{{ tag.id }}" style='background-color:{{ tag.TagColor }} ; opacity:0.5;font-size:6px !important;'>{{ tag.TagName }} </span> 
				 
				 {% endfor %} 
				</span>
			</div>
			{% for tq in agent.agent_task_queues %}
			<div class="ci_dashboard_build_status_listview_item_content row">
				<span class="col-lg-7 col-sm-7" style="color:#337ab7">
					<a name="ci_task_name" href="/ci/{{ tq.task_type_name }}/{{ tq.ci_task.id }}/history" style="color:#337ab7">{{ tq.ci_task.TaskName }}_{{ tq.build_version }}</a>
			        <div class="progress" style="height:10px;"> 
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ tq.build_progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 5px;width:{{ tq.build_progress }}%;">
							<span name="ci_build_progress"></span> 
						</div> 
					</div>		
			    </span>
			    <span name="tq_id" style="display:none">{{ tq.ci_task_queue.id }}</span>
			    <span name="tq_uuid" style="display:none">{{ tq.ci_task_queue.TaskUUID }}</span>
				<span name="task_id" style="display:none">{{ tq.ci_task.id }}</span>
				<span name="ci_bulid_log" class="cursor-hand  col-sm-2" style="padding-top:10px;">日志</span>
                <span class="col-lg-1 hidden-md hidden-sm hidden-xs" style="padding-top:10px;"> <img src="{{ tq.start_by_avatar }}" style="height:20px;width:20px;" class="img-circle" title="{{ tq.start_by_name }}" /></span>
				<span class="col-lg-1 col-sm-3 cursor-hand"  name="task_stop" style="opacity:0.6; display:inline-block;padding-top:10px;"> <i class="fa fa-close fa-fw fa-lg" style="color:gray;"></i> </span>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}
