<div class="modal fade" id="device_borrow_confirm">
	<div class="modal-dialog">
		<div class="modal-content modal-dialog-alert-middle">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					{% if device.is_ordered %}
					  出借
					{% else %}
					归还
					{% endif %}
				确认</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" role="alert">
					<i class="fa fa-exclamation-triangle fa-fw"></i>{{ device.borrower_name }} 
					{% if device.is_ordered %}
					  出借
					{% else %}
					归还
					{% endif %}
					设备 
					{{ device.device.DeviceName }}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					取消
				</button>
				<button type="button" class="btn btn-danger" id="device_borrow_confirm_button">
					{% if device.is_ordered %}
					  出借
					{% else %}
					归还
					{% endif %}
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
