<div>
	<div class="web-app-view-default">
		<div class="web-app-view-head-default">
		  <div class="web-app-view-header-bar-default">
		      <span class="web-app-view-header- leftbar pull-left"></span>
		      <span></span>
		      <span class="web-app-view-header-rightbar-default pull-right">
		         <div class="nic-circle-30-green" style="margin-right:5px;">
		        <span id="new_fortesting_item" class="nic-content-30-white cursor-hand"><i class="fa fa-plus fa-fw"></i></span>
		        </div>
		         <!-- <span id="header-rightbar-filter" class="cursor-hand web-app-view-header-rightbar-item-default">
		           <i class="fa fa-fw fa-filter fa-lg"></i>
		         </span>
		         <span>|
		        </span>
		        <span class="web-app-view-header-rightbar-item-default">
		           <span id="web-app-view-header-rightbar_column" class="cursor-hand web-app-view-header-bar-active"><i class="fa fa-columns fa-fw fa-lg"></i></span>
		           <span id="web-app-view-header-rightbar_rows" class="cursor-hand"><i class="fa fa-tasks fa-fw fa-lg"></i></span>
		        </span> -->
		      
		      </span>
		  </div>
		</div>
		
		{% if columns %}
		<div class="web-app-view-body-default" style="top:160px;">
		      {{ fortesting_list_controll }}
         </div>
         
         {% else %}
         
         <div class="web-app-view-body-list">
		      {{ fortesting_list_controll }}
         </div>
         {% endif %}
		</div>
</div>
<div id="webapp_right_panel" class="web-app-view-right-panel-default">
</div>