<ul id="lefttab">
    <li class="lefttabactive firsttab" method="nga" name="toolbox"><p>NGA工具</p></li>
    <li class="lefttabenactive" method="laohusdk" name="toolbox"><p>老虎SDK工具</p></li>
    <li class="lefttabenactive" method="memcache" name="toolbox"><p>Memcache清理</p></li>
    <li class="lefttabenactive" method="gerenator" name="toolbox"><p>姓名电话生成</p></li>
    <li class="lefttabenactive" method="tgbus" name="toolbox"><p>TGBus工具</p></li>
    <li class="lefttabenactive" method="a9vg" name="toolbox"><p>A9VG工具</p></li>
    <li class="lefttabenactive" method="krlaohusdk" name="toolbox"><p>韩国老虎SDK工具</p></li>
</ul>