<div class="container-fluid">
	<div class="ci-panel-nonbackground">
		<input type="hidden" id="ci_task_id" value="{{ ci_task.ci_task.id }}" />
		<div class="ci-panel-head-nonbackground">
			<!-- <h3 class="panel-title" style="margin-left:30px;">
				<strong>{{ ci_task.TaskName }}</strong>
			</h3> -->
			 <div class="pull-left">
			  <span class="nic-circle-30-green" style="margin-left:0px;">
		    <span class="nic-content-30-white cursor-hand" >{{ ci_task.task_type_label }}</span>
		</span>
		  	  <span style="margin-left:0px;">
		  		<strong>{{ ci_task.ci_task.TaskName }}</strong>
		  	  </span>
		  </div>
			 <div class="pull-right" style="width:300px">
		    <span class="" style="margin-left:30px;">状态<i class="fa fa-caret-down fa-fw"></i></span>
		    <span class="" style="margin-left:30px;">标签<i class="fa fa-caret-down fa-fw"></i></span>
		    <span class="" style="margin-left:30px;">排序<i class="fa fa-caret-down fa-fw"></i></span>
		  </div>
			
		</div>
		<div class="ci-panel-body-nonbackground" id="task_history_container">
			{{ ci_task_history_list }}		     
		</div>
		
		<div class="ci-panel-footer-nonbackground">
			<a class="pull-right" id="ci_view_more_history"><i class="fa fa-hand-o-right fa-fw"></i>
				查看更多构建记录
			</a>     
		</div>
	</div>
</div>