
<div id="ci_deploy_sub_leftnav" class="left_sub_nav">
	<div class="sub_bar_header">
		<p>
		<h5>{{ page.sub_bar_title }}</h5>
		
	</p>
	</div>
<div class="left_sub_menu_container">
	
	<ul class="nav nav-stacked">
		<!-- <li id="ci_deploy_add">
				<a  class="button-inlist left_sub_menu_item">添加任务</a>
		</li> -->
		
		<li class="{{ page.all_active }}">
			<a href="/ci/{{ page.menu_name }}/all" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>所有<span class="badge pull-right"></span></a>
		</li>
		
		{% for product in page.products %}
		
		{% if page.active_product_id == product.id %}
		<li class="left_sub_meun_active">
		{% else %}
		<li class="">
		{% endif %}
			<a href="/ci/{{ page.menu_name }}/product/{{ product.id }}" class="left_sub_menu_item"><i class="fa fa-tasks fa-fw pull-left"></i>{{ product.PTitle }}</a>
		</li>
		
		{% endfor %}
	</ul>

</div>
</div>