{% extends "home/home_index_view.html" %}

{% block home_styles %}
<!-- <link rel="stylesheet/less" href="/static/project/less/project_task.less" type="text/css" media="screen"/> -->
<!-- <link rel="stylesheet/less" href="/static/home/less/home.less" type="text/css" media="screen"/> -->
{% endblock %}


{% block home_content %}
<div id="home_device_view" class="home_device_view">
	
	{{ device_list }}

	
</div>
{% endblock %}

{% block home_scripts %}

<script  type="text/javascript" src="/static/device/js/device_user_page.js"></script>

{% endblock %}