<div class="project-panel-nonbackground">
	<div class="project-panel-body-nonbackground">
		<div class="task_detail_controller">
			<div class="task_detail_header">
				<i class="fa fa-fw fa-lg {{ task.is_task_finished }}" name="project-task-check"></i>
				<span contentEditable="true" name="project-task_title" class="content-editable">{{ task.task_title|safe }}</span>
			</div>
			<div class="task_detail_option">
				<span name="loader"><i class="fa fa-spinner fa-spin"></i></span>
				<div class="task_detail_description">
					<div class="task_detail_content pull-left">
						<textarea   class="form-control" id="project_task_description" name="TDescription" placeholder="添加描述" rows="5">{{ task.task.TDescription| default_if_none:"" }}</textarea>
					</div>
				</div>
				<div class="task_detail_menu pull-left container">
					{{ taskoption }}
				</div>
			</div>

		</div>
	</div>
</div>

