<div class="modal fade" id="newtask-popup-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content modal-dialog-form-middle">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">创建任务</h4>
			</div>
			<div class="modal-body">
				<div class="task_detail_controller">
					<div class="task_detail_header">
							<input type="text" class="form-control" id="project_task_title" name="Title" placeholder="任务内容">
					</div>
					<div class="task_detail_option">
						<div class="task_detail_description">
							<div class="task_detail_content pull-left">
								<textarea   class="form-control" id="project_task_description" name="Description" placeholder="添加描述" rows="10"></textarea>
							</div>
						</div>
						<div class="task_detail_menu pull-left container">
							{{ taskoption }}
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer" style="border-top:none!important;">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="task_close_button">
					取消
				</button>
				<button type="button" class="btn btn-success" id="task_create_button">
					创建
				</button>
			</div>
		</div>
	</div>
</div>
