<div class="container-fluid" style="padding:0px;">
	<div class="project-task-panel-nonbackground">
		<div class="project-task-panel-head-nonbackground">
			<div id="project_task_add" class="nic-circle-30-green pull-right" style="margin-top:-10px;margin-right:100px;">
		        <span  class="nic-content-30-white cursor-hand"><i class="fa fa-plus fa-fw"></i></span>
		    </div>
		</div>
		<div class="project-task-panel-body-nonbackground" id="project_task_container">
			{{ task_listcontroll }}		     
		</div>
		
		<div class="project-panel-footer-nonbackground">
			{% if is_project_page %}
			<a class="pull-right" id="project_view_more_task"><i class="fa fa-hand-o-right fa-fw"></i>
				查看更多任务
			</a>
			{% else %}
			  <a class="pull-right" id="home_view_more_task"><i class="fa fa-hand-o-right fa-fw"></i>
				查看更多任务
			  </a>
			{% endif %}
				     
		</div>
	</div>
</div>