<div id="autotestconfiglist">
	<ul id="autotestconfiglisturl">
		<li id="autotestconfigtitlerow">
			<!-- <input id="autotestconfigselectall" type="checkbox" disabled=""/> -->
			<span class="autotestconfigidheader">ID</span>
			<span class="autotestconfignameheader">名称</span>
			<span class="autotestconfigruntimeheader">运行环境</span>
			<span class="autotestconfigtestingenvheader">执行计划</span>
			<span class="autotestconfigruntimingheader">上次执行时间</span>
			<span class="autotestconfigoperationheader">操作</span>
		</li>
		{% for autotestconfig in autotestconfiglist %}
		  <li class="autotestconfigdatarow">
		  	<!-- <input name="selectautotestconfig" type="checkbox" /> -->
		    <span class="autotestconfigidcontent">
		    	{{ autotestconfig.autotestconfig.id }}
		    </span>
		    <span class="autotestconfignamecontent">{{ autotestconfig.get_testconfig_name }}</span>
		    <span class="autotestconfigruntimecontent">{{ autotestconfig.get_runtime }}</span>
		    <span class="autotestconfigtestingenvcontent">{{ autotestconfig.get_testingenv }}</span>
		    <span class="autotestconfigruntimingcontent">{{ autotestconfig.get_runtiming}}</span>
		    <span class="autotestconfigoperationcontent">  
				{% if autotestconfig.is_running %}
				<button name="autotestconfigrowrun" class="button gray operationbutton">停止</button> 
				{% else %}
				<button name="autotestconfigrowrun" class="button gray operationbutton">开始</button> 
				{% endif %}
				
				<img name="autotestconfigrowmore" class="operationimg" src="/static/autotesting/images/icon-menu-minimized.png"/ title="配置">
			</span>
		  </li>
       {% endfor %}
	</ul>
	 <div id='autotestconfigrowoperation'>
                   <ul name="autotestconfigrowoperationitems">
                    <li name="autotestconfigrowoperationedit"><a  href="#">编辑</a></li>
                    <!-- <li name="autotestconfigrowoperationdelete"><a href="#">暂停</a></li> -->
                    <!-- <li name="autotestconfigrowoperationdetail"><a href="#">详细信息</a></li> -->
                    <!-- <li name="autotestconfigrowoperationreport"><a href="#">运行报告</a></li> -->
                    <li name="autotestconfigrowoperationcopy"><a href="#">复制</a></li>
                   </ul>
    </div>
	
</div>