<div id="autotask_create">
        <div class="autotask_page_title">
        	<input type="button" value="返回" id='autotask_create_backbutton' />
        	<h3>编辑自动化任务</h3>
       </div>
        <div>
            <form id="autotask_create_form" action="/autotesting/autotask/create">
                <table class="autotask_create_table">
                    <tr>
                        <td>任务名称:</td>
                        <td><input type="text" id="autotask_nameInput" name="TaskName" class="text-input" /></td>
                    </tr>
                     <tr>
                        <td>项目</td>
                        <td><div id="autotask_project_combo" name="TaskProjectID"></div></td>
                    </tr>
                    <tr>
                        <td>测试配置:</td>
                        <td><div id="autotask_testconfigcombo" name="TaskTestingConfigID"></div></td>
                    </tr>
                    <tr>
                        <td>测试用例集:</td>
                        <td><div id="autotask_testcasecombo" name="TaskCaseQuerySet" ></div></td>
                    </tr>
                    <!-- <tr>
                        <td>任务类型:</td>
                        <td><div id="autotask_tasktypecombo" name="TaskTpye"></div></td>
                    </tr> -->
                    <tr>
                        <td>拆分任务</td>
                        <td><div id="autotask_splittask_dropdownlist" name="TaskIsSplit"></div></td>
                    </tr>
                    <tr>
                        <td>可见范围:</td>
                        <td><div id="autotask_viewscope_dropdownlist" name="TaskViewScope"></div></td>
                    </tr>
                    <tr>
                    	<td>
                    		<input type="button" value="高级" id="autotask_advance_button" />
                    	</td>
                    	<td></td>
                    </tr>
                    <tr class="autotask_advance">
                    		<td>执行机:</td>
                            <td><div id="autotask_agent_combo" name="TaskAgentID"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><input type="button" value="保存" id="autotasksendButton" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>