{% for task in tasks %}
		   <div  class="project_task_listview_item container-fluid">
		   	<div class="row">
				<div class="col-lg-9  col-sm-9">
						<div class="project_task_listview_item_title row">
							<span class="col-sm-12">
								
								<i class="fa fa-fw fa-lg {{ task.is_task_finished }}" name="project-task-check"></i>
								<span contentEditable="true" class="content-editable" name="project-task_title" >{{ task.task_title|safe }}</span>
							</span>
						</div>
						<div class="project_task_listview_item_content row">
							<span class="col-sm-9"> 
								<span name="loader"><i class="fa fa-spinner fa-spin"></i></span>
								{% if task.is_fullpart %}
								<span class="project_task_listview_item_timer" name="project_task_deadline_trigger" style="cursor:pointer">
										 <i class="fa fa-calendar-o"></i> 
									<span name="DeadLine">{{ task.task.DeadLine|default_if_none:"未设置截止日期" }}</span>
							   </span>
							   <div name="calender" class="filed-pop-calender"></div>
							   {% endif %}
									 <span name="task_id">#{{ task.task.id }}</span> 
									 {% if task.is_fullpart %}
									 <span>
										 <i class="fa fa-clock-o fw"></i> 
									<span title="工时" contenteditable="true" name="task_workhours">{{ task.task.WorkHours}}</span> </span>
									{% endif %} 
									<span> <i class="fa fa-info-circle fw"></i> 
										<span><a href="/project/{{ task.task.ProjectID }}/task/{{ task.task.id }}">添加描述</a></span>
									</span>
	
								{% if task.show_tag %}
							    <span class="hidden-md hidden-sm hidden-xs postion-absolute"   name="task_tags">
								<span name="add_tag" style="cursor:pointer"> <i class="fa fa-tags fa-fw"></i> 标签 <i class="fa fa-plus-circle fa-fw"></i> 
								</span>
								
								
								{% for tag in task.task_tags %}
								    <span class='label label-default visible-lg-inline-block' labelid="{{ tag.id }}" style='background-color:{{ tag.TagColor }} ; opacity:0.5;font-size:8px !important;'>{{ tag.TagName }}</span>
								   
								{% endfor %}
								
								{{ task.tag_menu }}
								
								</span>
							    {% endif %}
							
							</span>
							<div class="hidden-md hidden-sm hidden-xs progress"> 
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task.task.Progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em;width:{{ task.task.TProgress }}%;">
									 <span name="task-progress" contenteditable="true" class="content-editable">{{ task.task.Progress|default_if_none:"0" }}%</span>
							   </div> 
							</div>							   
						</div>


				</div>
			   {% if task.is_fullpart %}
				<div class="col-sm-2" style="line-height:1.5em">
						{% if task.show_user %}
						<span style="margin-top:20px; display:inline-block; cursor:pointer" name="task_edit_owner">
						   {% for owner in task.task_owners %}
						    <span labelid="{{ owner.owner.id }}"><img src="{{ owner.owner_avatar }}" class="img-circle" title="{{ owner.owner.username }}" style="width:30px;height:30px;" /></span>	
						   {% endfor %}	
						</span>
						{{ task.owner_menu }}
						{% else %}
						<span style="margin-top:30px; display:inline-block">
						       <a href="/project/{{ task.task.ProjectID }}/dashboard/">
						       	<img src="{{ task.task_project_avatar }}" style="width:30px;height:30px;" class="img-circle" title="{{ task.task_project_title }}">
						   </a>
						</span>
						{% endif %}
				</div>
				<div class="col-sm-1" style="line-height:1.5em;">
					<span style="margin-top:30px;display:inline-block;cursor:pointer" name="task_delete"><i class="fa fa-trash-o fa-fw fa-lg" style="color:red;"></i></span>
				</div>
				{% endif %}
			</div>
		    </div>
{% endfor %}